.navbar-default {
    /*background-color: #06adad !important;*/
}

.navbar-transparent {
    padding-top: 0px !important;
}

.br_color {
    color: #06adad !important;
}

.white_color {
    color: white !important;
}

.br_bg_color {
    background-color: #06adad !important;
}

.form-control {
    border-color: #e2e1dc !important;
    padding: 13px !important;
    height: 50px !important;
}