{% extends "admin/details_master.html" %}
{% load staticfiles %}
{% block detail_content %}
<table class="table">
    <thead>
        <tr>
            <th>
                Error Log Details(ID: {{ object.pk }})
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                ID
            </th>
            <td>
                {{ object.pk }}
            </td>
        </tr>
        <tr>
            <th>
                URL
            </th>
            <td>
                {{ object.url }}
            </td>
        </tr>
        <tr>
            <th>
                Context
            </th>
            <td>
                {{ object.context }}
            </td>
        </tr>
        <tr>
            <th>
                Stacktrace
            </th>
            <td>
                <pre>
                {{ object.stacktrace }}
                </pre>
            </td>
        </tr>
    </tbody>
</table>
{% endblock detail_content %}