{% extends "admin/category_master.html" %}
{% load staticfiles %}
{% block content_detail %}
<div class="row">
<div class="col-md-4">
<div class="input-group add-on">
  <input class="form-control" style="width: 400px; padding: 20px !important; " placeholder="Search..." name="keyword" id="id_search_term" type="text">
  <div class="input-group-btn">
    <button class="btn btn-default" style="padding: 10px;" type="submit"><i class="glyphicon glyphicon-search"></i></button>
  </div>
</div>
</div>
<div class="col-md-8">
<ul class="list-inline pull-right">
    <li>
        <a href="#" class="btn btn-primary btn-md disabled">Edit</a>
    </li>
    <li>
        <a href="#" class="btn btn-primary btn-md disabled">Delete</a>
    </li>
    <li>
        <a href="#" class="btn btn-primary btn-md disabled">Activate</a>
    </li>
    <li>
        <a href="#" class="btn btn-danger btn-md disabled">Deactivate</a>
    </li>
</ul>
</div>
</div>
<table class="table">
<thead>
<tr>
    <th>
        <label><input style="position: relative; top: 8px; " type="checkbox" name="list-item-checkbox"/></label>
    </th>
    {% for header in headers %}
        <th>
        {{ header }}
        </th>
    {% endfor %}
</tr>
</thead>
<tbody>
{% for row in table_data %}
<tr>
<td>
    <label><input type="checkbox" name="list-item-checkbox"/></label>
</td>
{% for col in row %}
<td>
    {{ col|safe }}
</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{% endblock content_detail %}