{% extends "admin/master.html" %}
{% load staticfiles %}
{% block leftmenu %}
    {% for menu_item in left_menu_items %}
    {% if ltab == menu_item.0 %}
        <li class="active"><a href="{{ menu_item.1 }}">{{ menu_item.0 }}</a></li>
    {% else %}
        <li><a href="{{ menu_item.1 }}">{{ menu_item.0 }}</a></li>
    {% endif %}
    {% endfor %}
{% endblock leftmenu %}
{% block action_area %}
<style type="text/css">
.btn-action {
    color: #1C2331 !important;
    background-color: transparent !important;
    border-color: #bce8f1 !important;
    padding-bottom: 13px !important;
}
</style>
<div class="row">
<div class="col-md-6">

<div style="padding: 10px; border: 1px solid #bce8f1; border-radius: 10px; ">
<div class="row">
    <div class="col-md-4" style="padding-right: 0px !important;">
        <div class="form-group">
            <select id="id_field_option_by" class="form-control" name="by" style="height: 42px !important;">
                {% for option in search_by_options %}
                    <option {% if option.1 in search_datefields %}data-datefield="true"{% endif %} value="{{ option.1 }}">
                      {{ option.0 }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-8" style="padding-left: 0px !important;">
        <div id="id_field_input_single" class="input-group add-on">
          <input class="form-control" style="width: 235px; padding: 20px !important; " {% if search_keyword %}value="{{ search_keyword }}" {% endif %} placeholder="Type to add filter..." name="keyword" id="id_search_term" type="text">
          <div class="input-group-btn">
            <button id="id_btn_add1" title="Add Search Filter" class="btn btn-default" style="padding: 10px;"><i class="glyphicon glyphicon-plus"></i></button>
          </div>
        </div>
        <div id="id_field_input_date" class="input-group add-on" style="display: none;">
          <input class="form-control" style="width: 113px; padding: 20px !important; " {% if search_keyword1 %}value="{{ search_keyword1 }}" {% endif %} placeholder="From Date" name="keyword" id="id_search_term1" type="text">
         <input class="form-control" style="width: 114px; padding: 20px !important; " {% if search_keyword %}value="{{ search_keyword2 }}" {% endif %} placeholder="To Date" name="keyword" id="id_search_term2" type="text">
          <div class="input-group-btn">
            <button id="id_btn_add2" title="Add Search Filter" class="btn btn-default" style="padding: 10px;"><i class="glyphicon glyphicon-plus"></i></button>
          </div>
        </div>
    </div>
</div>
<form id="id_search_form" action="" method="GET">
{% if search_param_context %}
<input type="hidden" name="context" value="{{ search_param_context }}"/>
{% endif %}
<div class="row">
    <div class="col-md-12" style="padding-right: 0px !important;">
        <p id="id_search_tag_plate" style="padding: 10px; border: 1px solid #bce8f1; border-radius: 10px; margin-right: 13px;">
            {% for key, value in search_filters.items %}
                <label class="search_tag" style="padding: 10px; color: grey; border: 1px solid #9d9d9d; border-radius: 10px;
                background-color: #f9f6f6; "><input type="hidden" name="{{ key }}" value="{{ value }}"><span>{{ key }}: {{ value }}</span>
                    <i style="cursor: pointer;" class="search_tag_remove glyphicon glyphicon-remove"></i></label>
            {% endfor %}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4" style="padding-right: 0px !important;">
    </div>
    <div class="col-md-8" style="padding-left: 0px !important;">
        <button style="width: 140px; float: right;" type="submit" class="btn btn-danger"><i style="position: relative; top: 3px;" class="glyphicon glyphicon-search"></i> <span>Apply Search </span></button>
    </div>
</div>
</div>
</form>
</div>
<div class="col-md-6">
<ul class="list-inline pull-right">
    {% if show_create %}
    <li style="margin-bottom: 6px;">
        <a href="#" class="create-btn btn btn-primary btn-md btn-action" data-url="{{ create_link }}">
            <span style="color: #1C2331; float: left; " class="glyphicon glyphicon-plus"> Create</span></a>
    </li>
    {% endif %}
    {% if show_edit %}
    <li style="margin-bottom: 6px;">
        <a href="#" class="edit-btn btn btn-primary btn-md btn-action disabled">
            <span style="color: #1C2331; float: left; " class="glyphicon glyphicon-edit"> Edit</span>
        </a>
    </li>
    {% endif %}
    {% if show_delete %}
    <li style="margin-bottom: 6px;">
        <a href="#" data-url="{{ delete_link }}" class="delete-btn btn btn-primary btn-md btn-action disabled">
            <span style="color: #1C2331; float: left; " class="glyphicon glyphicon-trash"> Delete</span>
        </a>
    </li>
    {% endif %}
    {% if show_approve %}
    <li style="margin-bottom: 6px;">
        <a href="#" data-url="{{ approve_link }}" class="approve-btn btn btn-primary btn-md btn-action disabled">
            <span style="color: #1C2331; float: left; " class="glyphicon glyphicon-ok-circle"> Approve</span>
        </a>
    </li>
    {% endif %}
    {% if show_reject %}
    <li style="margin-bottom: 6px;">
        <a href="#" data-url="{{ reject_link }}" class="reject-btn btn btn-primary btn-md btn-action disabled">
            <span style="color: #1C2331; float: left; " class="glyphicon glyphicon-ban-circle"> Reject</span>
        </a>
    </li>
    {% endif %}
    {% if show_activate %}
    <li style="margin-bottom: 6px;">
        <a href="#" data-url="{{ activate_link }}" class="activate-btn btn btn-primary btn-md btn-action disabled">
            <span style="color: #1C2331; float: left; " class="glyphicon glyphicon-ok-circle"> Activate</span>
        </a>
    </li>
    {% endif %}
    {% if show_deactivate %}
    <li style="margin-bottom: 6px;">
        <a href="#" data-url="{{ deactivate_link }}" class="deactivate-btn btn btn-danger btn-md btn-action disabled">
            <span style="color: #1C2331; float: left; " class="glyphicon glyphicon-ban-circle"> Deactivate</span>
        </a>
    </li>
    {% endif %}
    {% if show_upload %}
    <li style="margin-bottom: 6px;">
        <form data-action="{{ upload_link }}" id="id_file_upload_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="upload_redirect" value="{{ upload_redirect }}"/>
            <input type="file" name="uploaded_file" id="id_file_upload" style="display: none;"/>
        </form>
        <button class="btn-upload btn btn-danger btn-md btn-action">
            <span style="color: #1C2331; float: left; " class="glyphicon glyphicon-upload"> Upload</span>
        </button>
    </li>
    {% endif %}
    {% if show_download %}
    <li style="margin-bottom: 6px;">
        <a href="#" data-url="{{ download_link }}" class="btn-download btn btn-danger btn-md btn-action">
            <span style="color: #1C2331; float: left; " class="glyphicon glyphicon-download"> Download</span></a>
        </a>
    </li>
    {% endif %}
    {% if show_download_template %}
    <li style="margin-bottom: 6px;">
        <a href="#" data-url="{{ download_template_link }}" class="btn-upload-template btn btn-danger btn-md btn-action">
            <span style="color: #1C2331; float: left; " class="glyphicon glyphicon-download"> Download Template</span>
        </a>
    </li>
    {% endif %}
    {% block actions_extra %}
    {% endblock actions_extra %}
</ul>
</div>
</div>
{% endblock action_area %}
{% block content_detail %}
<div style="padding: 10px;">
<span>Showing {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ total_count }} Items.</span>
<span class="pull-right">Total: {{ total_count }}</span>
</div>
<table class="table">
<thead>
<tr>
    <th>
        <label><input style="position: relative; top: 8px; " id="id_all_check" type="checkbox" name="list-item-checkbox"/></label>
    </th>
    {% for header in headers %}
        <th>
        {{ header }}
        </th>
    {% endfor %}
</tr>
</thead>
<tbody id="id_data_table">
{% for row in table_data %}
<tr>
<td>
    <label><input data-edit-url="{% if edit_link_name %}{% url edit_link_name row.0 %}{% endif %}" data-id="{{ row.0 }}" class="item-check" name="item-check-{{ forloop.counter0 }}" type="checkbox" name="list-item-checkbox"/></label>
</td>
{% for col in row %}
<td>
    {{ col|safe }}
</td>
{% endfor %}
</tr>
{% empty %}
<tr>
<td colspan="{{ table_column_count }}">
    No data found.
</td>
</tr>
{% endfor %}
<tr>
    <td {% if table_data %}colspan="{{ table_data.0|length }}"{% else %}{% endif %} style="text-align:center;">
        {% include "admin/admin_pagination.html" %}
    </td>
</tr>
</tbody>
</table>
{% endblock content_detail %}
{% block bottom_script %}
<script type="text/javascript">
$(document).ready(function () {

    $("#id_search_term1").datepicker();
    $("#id_search_term2").datepicker();

    $("#id_field_option_by").change(function (e) {
        var date_field = $("#id_field_option_by option:selected").data("datefield");
        if(date_field == true) {
            $("#id_field_input_single").hide();
            $("#id_field_input_date").show();
        }
        else {
            $("#id_field_input_single").show();
            $("#id_field_input_date").hide();
        }
    });
    
    $("#id_btn_add1, #id_btn_add2").click(function (e) {
        e.preventDefault();
        var tag = '<label class="search_tag" style="padding: 10px; color: grey; border: 1px solid #9d9d9d; ' +
                'border-radius: 10px; background-color: #f9f6f6; "><input type="hidden" name="id" value="1">' +
                '<span>Id: 1</span> <i style="cursor: pointer;" class="search_tag_remove glyphicon glyphicon-remove"></i></label>';
        if($("#id_field_input_single").is(":visible")) {
            var option_name = $("#id_field_option_by option:selected").text();
            var option_value = $("#id_field_option_by option:selected").val();
            var input = $("#id_search_term").val();
            if(input == "") {
                $("#id_search_term").focus();
                return false;
            }
            var tag = '<label class="search_tag" style="padding: 10px; color: grey; border: 1px solid #9d9d9d; ' +
                'border-radius: 10px; background-color: #f9f6f6; "><input type="hidden" name="'+ option_value +'" value="'+ input +'">' +
                '<span>'+ option_value +': '+ input +'</span> <i style="cursor: pointer;" class="search_tag_remove glyphicon glyphicon-remove"></i></label>';
            $("#id_search_tag_plate").append(tag);
        }
        else {
            var option_name = $("#id_field_option_by option:selected").text();
            var option_value = $("#id_field_option_by option:selected").val();
            var input1 = $("#id_search_term1").val();
            var input2 = $("#id_search_term2").val();
            if(input1 == "" || input2 == "") {
                if(input1 == "") {
                    $("#id_search_term1").focus();
                }
                else {
                    $("#id_search_term2").focus();
                }
                return false;
            }
            var input = input1 + "-" + input2;
            var tag = '<label class="search_tag" style="padding: 10px; color: grey; border: 1px solid #9d9d9d; ' +
                'border-radius: 10px; background-color: #f9f6f6; "><input type="hidden" name="'+ option_value +'" value="'+ input +'">' +
                '<span>'+ option_value +': '+ input +'</span> <i style="cursor: pointer;" class="search_tag_remove glyphicon glyphicon-remove"></i></label>';
            $("#id_search_tag_plate").append(tag);
        }
        return false;
    });
    
    $(document).on("click", ".search_tag_remove", function (e) {
        $(this).parent().remove();
    });

    $(".create-btn").click(function (e) {
        e.preventDefault();
        var url = $(this).data("url");
        window.location.href = url;
    });

    $(".edit-btn").click(function (e) {
        e.preventDefault();
        var url = "";
        $("#id_data_table").find(".item-check").each(function (e) {
            if($(this).is(":checked")) {
                url = $(this).data("edit-url");
                return;
            }
        });
        window.location.href = url;
    });

    $(".activate-btn").click(function (e) {
        e.preventDefault();
        var url = $(this).data("url");
        var id = "";
        $("#id_data_table").find(".item-check").each(function (e) {
            if($(this).is(":checked")) {
                id += $(this).data("id") + ",";
            }
        });
        $.ajax({
            type: "GET",
            url: url+"?id="+id,
            success: function (data) {
                if(data.status == "SUCCESSFUL") {
                    window.location.reload();
                }
            },
            error: function (jqxhr, status, error) {

            }
        })
        .done(function (msg) {

        });
    });

    $(".approve-btn").click(function (e) {
        e.preventDefault();
        var url = $(this).data("url");
        var id = "";
        $("#id_data_table").find(".item-check").each(function (e) {
            if($(this).is(":checked")) {
                id += $(this).data("id") + ",";
            }
        });
        $.ajax({
            type: "GET",
            url: url+"?id="+id,
            success: function (data) {
                if(data.status == "SUCCESSFUL") {
                    window.location.reload();
                }
            },
            error: function (jqxhr, status, error) {

            }
        })
        .done(function (msg) {

        });
    });

    $(".reject-btn").click(function (e) {
        e.preventDefault();
        var url = $(this).data("url");
        var id = "";
        $("#id_data_table").find(".item-check").each(function (e) {
            if($(this).is(":checked")) {
                id += $(this).data("id") + ",";
            }
        });
        $.ajax({
            type: "GET",
            url: url+"?id="+id,
            success: function (data) {
                if(data.status == "SUCCESSFUL") {
                    window.location.reload();
                }
            },
            error: function (jqxhr, status, error) {

            }
        })
        .done(function (msg) {

        });
    });

    $(".deactivate-btn").click(function (e) {
        e.preventDefault();
        var url = $(this).data("url");
        var id = "";
        $("#id_data_table").find(".item-check").each(function (e) {
            if($(this).is(":checked")) {
                id += $(this).data("id") + ",";
            }
        });
        $.ajax({
            type: "GET",
            url: url+"?id="+id,
            success: function (data) {
                if(data.status == "SUCCESSFUL") {
                    window.location.reload();
                }
            },
            error: function (jqxhr, status, error) {

            }
        })
        .done(function (msg) {

        });
    });

    $(".delete-btn").click(function (e) {
        e.preventDefault();
        var url = $(this).data("url");
        var id = "";
        $("#id_data_table").find(".item-check").each(function (e) {
            if($(this).is(":checked")) {
                id += $(this).data("id") + ",";
            }
        });
        $.ajax({
            type: "GET",
            url: url+"?id="+id,
            success: function (data) {
                if(data.status == "SUCCESSFUL") {
                    window.location.reload();
                }
            },
            error: function (jqxhr, status, error) {

            }
        })
        .done(function (msg) {

        });
    });
    
    $(".btn-download").click(function (e) {
        e.preventDefault();
        var form_data = $("#id_search_form").serialize();
        var target_url = $(this).data("url")+"?"+form_data;
        window.open(target_url, "_self");
    });

    $(".btn-upload-template").click(function (e) {
        e.preventDefault();
        var form_data = $("#id_search_form").serialize();
        var target_url = $(this).data("url")+"&"+form_data;
        window.open(target_url, "_self");
    });
    
    $(".btn-upload").click(function (e) {
        $("#id_file_upload").click();
    });
    
    $("#id_file_upload").change(function (e) {
        $("#id_file_upload_form").prop("action", $("#id_file_upload_form").data("action"));
        $("#id_file_upload_form").submit();
    });

    $("#id_admin_search_options").click(function (e) {
        $("#id_admin_search_filters").show();
        $(this).hide();
    });

    $(".hide_admin_search_filters").click(function (e) {
        $("#id_admin_search_filters").hide();
        $("#id_admin_search_options").show();
    });

    $("#id_all_check").click(function (e) {
        if($(this).is(":checked")) {
            var check_counter = 0;
            $("#id_data_table").find(".item-check").each(function (e) {
                $(this).prop("checked", true);
                if($(this).is(":checked")) {
                    check_counter += 1;
                }
            });
            if(check_counter == 1) {
                $(".edit-btn").removeClass("disabled");
            }
            else {
                $(".edit-btn").addClass("disabled");
            }
            $(".delete-btn").removeClass("disabled");
            $(".activate-btn").removeClass("disabled");
            $(".deactivate-btn").removeClass("disabled");
            $(".approve-btn").removeClass("disabled");
            $(".reject-btn").removeClass("disabled");
        }
        else {
            $("#id_data_table").find(".item-check").each(function (e) {
                $(this).prop("checked", false);
            });
            $(".edit-btn").addClass("disabled");
            $(".delete-btn").addClass("disabled");
            $(".activate-btn").addClass("disabled");
            $(".deactivate-btn").addClass("disabled");
            $(".approve-btn").addClass("disabled");
            $(".reject-btn").addClass("disabled");
        }
    });
    $("#id_data_table").find(".item-check").click(function (e) {
        if($(this).is(":checked")) {
            var all_checked = true;
            var only_this_checked = true;
            var this_name = $(this).prop("name");
            $("#id_data_table").find(".item-check").each(function (e) {
                if(!$(this).is(":checked")){
                    all_checked = false;
                }
                if($(this).prop("name") != this_name) {
                    if($(this).is(":checked")){
                        only_this_checked = false;
                    }
                }
            });
            if(all_checked) {
                $("#id_all_check").prop("checked", true);
            }
            if(only_this_checked) {
                $(".edit-btn").removeClass("disabled");
            }
            else {
                $(".edit-btn").addClass("disabled");
            }
            $(".delete-btn").removeClass("disabled");
            $(".activate-btn").removeClass("disabled");
            $(".deactivate-btn").removeClass("disabled");
            $(".approve-btn").removeClass("disabled");
            $(".reject-btn").removeClass("disabled");
        }
        else {
            $("#id_all_check").prop("checked", false);
            var check_counter = 0;
            $("#id_data_table").find(".item-check").each(function (e) {
                if($(this).is(":checked")){
                    check_counter += 1;
                }
            });
            if(check_counter == 1) {
                $(".edit-btn").removeClass("disabled");
            }
            else {
                $(".edit-btn").addClass("disabled");
                $(".delete-btn").addClass("disabled");
                $(".activate-btn").addClass("disabled");
                $(".deactivate-btn").addClass("disabled");
                $(".approve-btn").addClass("disabled");
                $(".reject-btn").addClass("disabled");
            }
        }
    });
});
</script>
{% endblock bottom_script %}