{% extends "admin/master.html" %}
{% load staticfiles %}
{% block leftmenu %}
    {% for menu_title, menu_url in left_menu_items.items %}
    {% if ltab == menu_title %}
        <li class="active"><a href="{{ menu_url }}">{{ menu_title }}</a></li>
    {% else %}
        <li><a href="{{ menu_url }}">{{ menu_title }}</a></li>
    {% endif %}
    {% endfor %}
{% endblock leftmenu %}
{% block action_area %}
<div class="row">
<div class="col-md-6">
<form id="id_search_form" action="" method="GET">
{% if search_param_context %}
<input type="hidden" name="context" value="{{ search_param_context }}"/>
{% endif %}
<div class="row">
    <div class="col-md-4" style="padding-right: 0px !important;">
        <div class="form-group">
            <select class="form-control" name="by" style="height: 42px !important;">
                {% for option in search_by_options %}
                    {% if option.1 == search_by %}
                    <option selected value="{{ option.1 }}">
                      {{ option.0 }}
                    </option>
                    {% else %}
                    <option value="{{ option.1 }}">
                      {{ option.0 }}
                    </option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-8" style="padding-left: 0px !important;">
        <div class="input-group add-on">
          <input class="form-control" style="width: 260px; padding: 20px !important; " {% if search_keyword %}value="{{ search_keyword }}" {% endif %} placeholder="Search..." name="keyword" id="id_search_term" type="text">
          <div class="input-group-btn">
            <button class="btn btn-default" style="padding: 10px;" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
    </div>
</div>
<div style="padding-left: 20px; display: none;">
    <a href="#" id="id_admin_search_options">Advance Options</a>
</div>
<div id="id_admin_search_filters" style="padding: 5px 0px 0px 15px; display: none;">
    <ul class="list-inline">
        {% for advance_option in advanced_search_options %}
            <li>
                <label>
                    <input name="{{ advance_option.1 }}" type="checkbox" value="1"/> {{ advance_option.0 }}
                </label>
            </li>
        {% endfor %}
    </ul>
    <div>
        <a href="#" class="hide_admin_search_filters">Hide</a>
    </div>
</div>
</form>
</div>
<div class="col-md-6">
<ul class="list-inline pull-right">
    {% if show_create %}
    <li style="margin-bottom: 6px;">
        <a href="#" class="create-btn btn btn-primary btn-md" data-url="{{ create_link }}">Create</a>
    </li>
    {% endif %}
    {% if show_edit %}
    <li style="margin-bottom: 6px;">
        <a href="#" class="edit-btn btn btn-primary btn-md disabled">Edit</a>
    </li>
    {% endif %}
    {% if show_delete %}
    <li style="margin-bottom: 6px;">
        <a href="#" data-url="{{ delete_link }}" class="delete-btn btn btn-primary btn-md disabled">Delete</a>
    </li>
    {% endif %}
    {% if show_activate %}
    <li style="margin-bottom: 6px;">
        <a href="#" data-url="{{ activate_link }}" class="activate-btn btn btn-primary btn-md disabled">Activate</a>
    </li>
    {% endif %}
    {% if show_deactivate %}
    <li style="margin-bottom: 6px;">
        <a href="#" data-url="{{ deactivate_link }}" class="deactivate-btn btn btn-danger btn-md disabled">Deactivate</a>
    </li>
    {% endif %}
    {% if show_upload %}
    <li style="margin-bottom: 6px;">
        <form data-action="{{ upload_link }}" id="id_file_upload_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="upload_redirect" value="{{ upload_redirect }}"/>
            <input type="file" name="uploaded_file" id="id_file_upload" style="display: none;"/>
        </form>
        <button class="btn-upload btn btn-danger btn-md">Upload</button>
    </li>
    {% endif %}
    {% if show_download %}
    <li style="margin-bottom: 6px;">
        <a href="#" data-url="{{ download_link }}" class="btn-download btn btn-danger btn-md">Download</a>
    </li>
    {% endif %}
    {% if show_download_template %}
    <li style="margin-bottom: 6px;">
        <a href="#" data-url="{{ download_template_link }}" class="btn-upload-template btn btn-danger btn-md">Download Template</a>
    </li>
    {% endif %}
</ul>
</div>
</div>
{% endblock action_area %}
{% block content_detail %}
<div style="padding: 10px;">
<span>Showing {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ total_count }} Items.</span>
<span class="pull-right">Total: {{ total_count }}</span>
</div>
<table class="table">
<thead>
<tr>
    <th>
        <label><input style="position: relative; top: 8px; " id="id_all_check" type="checkbox" name="list-item-checkbox"/></label>
    </th>
    {% for header in headers %}
        <th>
        {{ header }}
        </th>
    {% endfor %}
</tr>
</thead>
<tbody id="id_data_table">
{% for row in table_data %}
<tr>
<td>
    <label><input data-edit-url="{% if edit_link_name %}{% url edit_link_name row.0 %}{% endif %}" data-id="{{ row.0 }}" class="item-check" name="item-check-{{ forloop.counter0 }}" type="checkbox" name="list-item-checkbox"/></label>
</td>
{% for col in row %}
<td>
    {{ col|safe }}
</td>
{% endfor %}
</tr>
{% endfor %}
<tr>
    <td {% if table_data %}colspan="{{ table_data.0|length }}"{% else %}{% endif %} style="text-align:center;">
        {% include "admin/admin_pagination.html" %}
    </td>
</tr>
</tbody>
</table>
{% endblock content_detail %}
{% block bottom_script %}
<script type="text/javascript">
$(document).ready(function () {

    $(".create-btn").click(function (e) {
        var url = $(this).data("url");
        window.location.href = url;
    });

    $(".edit-btn").click(function (e) {
        var url = "";
        $("#id_data_table").find(".item-check").each(function (e) {
            if($(this).is(":checked")) {
                url = $(this).data("edit-url");
                return;
            }
        });
        window.location.href = url;
    });

    $(".activate-btn").click(function (e) {
        e.preventDefault();
        var url = $(this).data("url");
        var id = "";
        $("#id_data_table").find(".item-check").each(function (e) {
            id += $(this).data("id") + ",";
        });
        $.ajax({
            type: "GET",
            url: url+"?id="+id,
            success: function (data) {
                if(data.status == "SUCCESSFUL") {
                    window.location.reload();
                }
            },
            error: function (jqxhr, status, error) {

            }
        })
        .done(function (msg) {

        });
    });

    $(".deactivate-btn").click(function (e) {
        e.preventDefault();
        var url = $(this).data("url");
        var id = "";
        $("#id_data_table").find(".item-check").each(function (e) {
            id += $(this).data("id") + ",";
        });
        $.ajax({
            type: "GET",
            url: url+"?id="+id,
            success: function (data) {
                if(data.status == "SUCCESSFUL") {
                    window.location.reload();
                }
            },
            error: function (jqxhr, status, error) {

            }
        })
        .done(function (msg) {

        });
    });

    $(".delete-btn").click(function (e) {
        e.preventDefault();
        var url = $(this).data("url");
        var id = "";
        $("#id_data_table").find(".item-check").each(function (e) {
            id += $(this).data("id") + ",";
        });
        $.ajax({
            type: "GET",
            url: url+"?id="+id,
            success: function (data) {
                if(data.status == "SUCCESSFUL") {
                    window.location.reload();
                }
            },
            error: function (jqxhr, status, error) {

            }
        })
        .done(function (msg) {

        });
    });
    
    $(".btn-download").click(function (e) {
        e.preventDefault();
        var form_data = $("#id_search_form").serialize();
        var target_url = $(this).data("url")+"?"+form_data;
        window.open(target_url, "_self");
    });

    $(".btn-upload-template").click(function (e) {
        e.preventDefault();
        var form_data = $("#id_search_form").serialize();
        var target_url = $(this).data("url")+"&"+form_data;
        window.open(target_url, "_self");
    });
    
    $(".btn-upload").click(function (e) {
        $("#id_file_upload").click();
    });
    
    $("#id_file_upload").change(function (e) {
        $("#id_file_upload_form").prop("action", $("#id_file_upload_form").data("action"));
        $("#id_file_upload_form").submit();
    });

    $("#id_admin_search_options").click(function (e) {
        $("#id_admin_search_filters").show();
        $(this).hide();
    });

    $(".hide_admin_search_filters").click(function (e) {
        $("#id_admin_search_filters").hide();
        $("#id_admin_search_options").show();
    });

    $("#id_all_check").click(function (e) {
        if($(this).is(":checked")) {
            var check_counter = 0;
            $("#id_data_table").find(".item-check").each(function (e) {
                $(this).prop("checked", true);
                if($(this).is(":checked")) {
                    check_counter += 1;
                }
            });
            if(check_counter == 1) {
                $(".edit-btn").removeClass("disabled");
            }
            else {
                $(".edit-btn").addClass("disabled");
            }
            $(".delete-btn").removeClass("disabled");
            $(".activate-btn").removeClass("disabled");
            $(".deactivate-btn").removeClass("disabled");
        }
        else {
            $("#id_data_table").find(".item-check").each(function (e) {
                $(this).prop("checked", false);
            });
            $(".edit-btn").addClass("disabled");
            $(".delete-btn").addClass("disabled");
            $(".activate-btn").addClass("disabled");
            $(".deactivate-btn").addClass("disabled");
        }
    });
    $("#id_data_table").find(".item-check").click(function (e) {
        if($(this).is(":checked")) {
            var all_checked = true;
            var only_this_checked = true;
            var this_name = $(this).prop("name");
            $("#id_data_table").find(".item-check").each(function (e) {
                if(!$(this).is(":checked")){
                    all_checked = false;
                }
                if($(this).prop("name") != this_name) {
                    if($(this).is(":checked")){
                        only_this_checked = false;
                    }
                }
            });
            if(all_checked) {
                $("#id_all_check").prop("checked", true);
            }
            if(only_this_checked) {
                $(".edit-btn").removeClass("disabled");
            }
            else {
                $(".edit-btn").addClass("disabled");
            }
            $(".delete-btn").removeClass("disabled");
            $(".activate-btn").removeClass("disabled");
            $(".deactivate-btn").removeClass("disabled");
        }
        else {
            $("#id_all_check").prop("checked", false);
            var check_counter = 0;
            $("#id_data_table").find(".item-check").each(function (e) {
                if($(this).is(":checked")){
                    check_counter += 1;
                }
            });
            if(check_counter == 1) {
                $(".edit-btn").removeClass("disabled");
            }
            else {
                $(".edit-btn").addClass("disabled");
                $(".delete-btn").addClass("disabled");
                $(".activate-btn").addClass("disabled");
                $(".deactivate-btn").addClass("disabled");
            }
        }
    });
});
</script>
{% endblock bottom_script %}