{% load staticfiles %}
<link href="{% static "css/vendor/bootstrap3.3.7/bootstrap.min.css" %}" rel="stylesheet" />
<link href="{% static "css/vendor/rubick/rubick.css" %}" rel="stylesheet"/>

<!--     Fonts and icons     -->
<link href="{% static "css/vendor/font-awesome4.2.0.min.css" %}" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
<link href="{% static "css/vendor/rubick/fonts/pe-icon-7-stroke.css" %}" rel="stylesheet">
<link href="{% static "css/vendor/rubick/fonts/Rubik-Fonts.css" %}" rel="stylesheet">
<link href="{% static "css/br_landing_page.css" %}" rel="stylesheet" />