{% extends "admin/details_master.html" %}
{% load staticfiles %}
{% block detail_content %}
<style type="text/css">
a.front_product_class {
    background-color: transparent !important;
    color: black !important;
    padding-right: 20px !important;
}
</style>
<table class="table">
    <thead>
        <tr>
            <th>
                Front List Details(ID: {{ object.pk }})
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                Title:
            </th>
            <td>
                {{ object.title }}
            </td>
            <th>
                Title 2:
            </th>
            <td>
                {{ object.title_2 }}
            </td>
        </tr>
        <tr>
            <th>
                Show 2:
            </th>
            <td>
                {% if object.show_2 %}Yes{% else %}No{% endif %}
            </td>
            <th>
                Is Active:
            </th>
            <td>
                {% if object.is_active %}Yes{% else %}No{% endif %}
            </td>
        </tr>
        <tr>
            <th>
                Description:
            </th>
            <td>
                {{ object.description }}
            </td>
        </tr>
        <tr>
            <th>
                By Rule:
            </th>
            <td>
                {% if object.by_rule %}Yes{% else %}No{% endif %}
            </td>
            <th>
                Rule Name:
            </th>
            <td>
                {{ object.rule_name }}
            </td>
        </tr>
        <tr>
            <th>
                Category:
            </th>
            <td>
                {% if object.category %}{{ object.category.name }}{% else %}N/A{% endif %}
            </td>
            <th>
                Top Limit(%):
            </th>
            <td>
                {{ object.top_limit }}
            </td>
        </tr>
        <tr>
            <th>
                Max Products To Show:
            </th>
            <td>
                {{ object.max_limit }}
            </td>
            <th>
                Detail Url:
            </th>
            <td>
                {{ object.detail_url }}
            </td>
        </tr>
        <tr>
            <th>
                Group:
            </th>
            <td>
                {{ object.palette.name }}
            </td>
        </tr>
        <tr>
            <td>
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#tab1">Excluded Products</a></li>
                  <li><a data-toggle="tab" href="#tab2">Products</a></li>
                </ul>

                <div class="tab-content">
                  <div id="tab1" class="tab-pane fade in active">
                        {{ object.get_exclude_products|safe }}
                  </div>
                  <div id="tab2" class="tab-pane fade">
                    {{ object.get_front_products|safe }}
                  </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endblock detail_content %}