<div class="browse-filter-pane" style="background-color: #f7f8fb !important; padding: 10px; border: 1px solid #dadae6; margin-top: 10px !important; border-radius: 4px !important;">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="#" class="pull-left" style="">
            <label style="cursor: pointer; ">
                <input type="checkbox" name="out_of_stock_checkbox" style="position: relative; bottom: -1px; "> Exclude Out of stock</label></a>
            <a href="#" class="btn-browse-filter btn pull-right" style="color: white !important;background-color: #31b0d5 !important;">
            <span class="glyphicon glyphicon-th-list"></span> More Filters</a>
      </div>
  </div>
  <div id="id_browse_more_filter_content" class="row" style="padding-top: 20px;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Browse Other Categories</div>
                      <div class="panel-body">
                          <div class="small">

                              <a style="display: none;" class="filter_search_prev_cat" data-name="" href="#">
                              <span class="glyphicon glyphicon-menu-left"></span> <span></span></a>

                          </div>
                          <div id="id_search_filter_category_panel" style="overflow-y: auto; max-height: 200px !important;">

                          <div class="checkbox">
                           <label><input type="checkbox" data-name="Medical" class="search-filter-by-category" value="7">

                               <a href="/books/browse/medical/">Medical</a>

                           </label>
                          </div>

                          <div class="checkbox">
                           <label><input type="checkbox" data-name="English" class="search-filter-by-category" value="25">

                               <a href="/books/browse/english/">English</a>

                           </label>
                          </div>

                          <div class="checkbox">
                           <label><input type="checkbox" data-name="adas" class="search-filter-by-category" value="26">

                               <a href="/books/browse/adas/">adas</a>

                           </label>
                          </div>

                          <div class="checkbox">
                           <label><input type="checkbox" data-name="asd" class="search-filter-by-category" value="27">

                               <a href="/books/browse/asd/">asd</a>

                           </label>
                          </div>

                          </div>
                      </div>

                  </div>
              </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Browse By Authors</div>
                      <div class="panel-body">
                          <div class="checkbox">
                          <label><input type="checkbox" value=""><a href="#">Dibya Prokashoni</a></label>
                        </div>
                        <div class="checkbox">
                          <label><input type="checkbox" value=""><a href="#">Onno ProkaSoni</a></label>
                        </div>
                        <div class="checkbox disabled">
                          <label><input type="checkbox" value=""><a href="#">Amar Boi</a></label>
                        </div>
                      </div>

                  </div>
              </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Browse By Publishers</div>
                      <div class="panel-body">
                          <div class="checkbox">
                          <label><input type="checkbox" value=""><a href="#">Dibya Prokashoni</a></label>
                        </div>
                        <div class="checkbox">
                          <label><input type="checkbox" value=""><a href="#">Onno ProkaSoni</a></label>
                        </div>
                        <div class="checkbox disabled">
                          <label><input type="checkbox" value=""><a href="#">Amar Boi</a></label>
                        </div>
                      </div>

                  </div>
              </div>
          </div>
</div>