<div style="height: 10px;">

</div>
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <input class="form-control pull-right" style="max-width: 250px;" name="filter_keyword" placeholder="Enter keyword"/>
    </div>
</div>
<div class="row" style="padding-top: 20px;">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">Browse Other Authors</div>
                  <div class="panel-body">
                      <div>
                      <label><a href="#">Dibya Prokashoni</a></label>
                    </div>
                    <div>
                      <label><a href="#">Onno ProkaSoni</a></label>
                    </div>
                    <div>
                      <label><a href="#">Amar Boi</a></label>
                    </div>
                  </div>

              </div>
      </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">Categories</div>
              <div class="panel-body">
                  <div class="checkbox">
                  <label><input type="checkbox" value=""><a href="#">Dibya Prokashoni</a></label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value=""><a href="#">Onno ProkaSoni</a></label>
                </div>
                <div class="checkbox disabled">
                  <label><input type="checkbox" value=""><a href="#">Amar Boi</a></label>
                </div>
              </div>

          </div>
      </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">Publishers</div>
              <div class="panel-body">
                  <div class="checkbox">
                  <label><input type="checkbox" value=""><a href="#">Dibya Prokashoni</a></label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value=""><a href="#">Onno ProkaSoni</a></label>
                </div>
                <div class="checkbox disabled">
                  <label><input type="checkbox" value=""><a href="#">Amar Boi</a></label>
                </div>
              </div>

          </div>
      </div>
  </div>