{% load category_tags %}
{% if filter_category_show %}
{# filename: book_categories.html #}
<div class="panel panel-default">
    <div class="panel-heading">
        {% if linkable %}
        <a href="{% url "book_browse_view" slug %}">{{ filter_category_header }}</a>
        {% else %}
        {{ filter_category_header }}
        {% endif %}
    </div>
    <div class="panel-body">
        {% if show_search %}
        <div style="padding: 6px; text-align: right;">
            <input type="text" class="form-control" placeholder="Search ..."/>
        </div>
        {% endif %}
        <div style="max-height: 400px; overflow-x: hidden; overflow-y: auto;">
            <ul class="category-list-group list-group" style="list-style: none !important;">
            {% for cat_item in filter_categories %}
            <li class="category-item" style="padding: 3px; ">
            <a href="{% url "book_browse_view" cat_item.slug %}">{{ cat_item.name }}</a>
            </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}