{% load category_tags %}
{# filename: book_categories.html #}
<ul class="list-group" {% if cat_object.children %}style="margin-left: 10px !important;" {% endif %}>
{% for cat_object in categories %}
<li href="#"
    class="{% if cat_object.id|has_any_children:all_parents %}{% if cat_object.id in explored_chain %}glyphicon glyphicon-minus {% else %}glyphicon glyphicon-plus {% endif %}{% endif %}list-group-item category-list-item {% if not cat_object.id in current_chain %}{% if cat_object.parent %}displaynone{% endif %}{% endif %}">
    <a {% with cat_object.id as id %} href="{% url "book_browse_view" category_slug_urls|slug_url_from_dict:id %}" {% endwith %} {% if current_item and cat_object.id == current_item %}class="active"{% endif %}>{{ cat_object.name }}</a>
    {% if cat_object.children %}
    {% with "sections/book_categories.html" as filename %}
    {% with cat_object.children as categories %}
        {% include filename %}
    {% endwith %}
    {% endwith %}
    {% endif %}
</li>
{% endfor %}
</ul>