{% load staticfiles %}
<style>

</style>

<div class="row book_entry">
    <div class="col-md-12 book_entry_content">
        <div class="row">
            <div class="col-md-12">
        <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-7 text-center" style="padding: 13px; ">

                <img class="img-rounded" style="margin-left: auto;margin-right: auto; margin-top: 13px; width: 130px; height: 180px; " src="https://s3-ap-southeast-1.amazonaws.com/rokomari110/productNew/130X186/57d1250dbd34_77185.gif" class="img-responsive book-img-grid">
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5" style="margin-top: 19px; padding: 3px; padding-right: 10px; padding-left: 10px; ">
                <span title="Pin this item" class="item-pin glyphicon glyphicon-pushpin pull-right" style="display: none; cursor: pointer; top: -15px;"></span>
                <span title="Send this item to a friend" class="item-send glyphicon glyphicon-send pull-right" style="display: none; cursor: pointer; top: -15px; right: 10px; "></span>
                <p class="book-box-price">
                     Market Price: <strike> Rs. 659 </strike><br>
                    Our Price: Rs. 450<br/>

                <strong class="rent-start">Rent starts from Rs. 280                                            </strong><br>

                <span class="margin-top-bot">Initial Payable Rs. 659                                            </span><br>
                </p>
            </div>
        </div>
        <div class="row" style="padding: 13px; ">
            <div class="col-md-12 col-sm-12 col-xs-12 text-left pad-10 margin-left--8">
                 <p> Introduction to Computer Science
                </p>
                <i style="font-size: 14px; float: right; "> - By Humayun Ahmed</i>

            </div>
        </div>
        <div class="action-bar" style="display: none; width: 100%; position: absolute; bottom: 0px; margin-left: auto; margin-right: auto;">
            <ul class="list-inline text-center" style="padding: 6px; margin: 0px 0px 0px 0px; width: 92%; background-color: #5bc0de; ">
              <li class="product-quick-view">
                  <div>
                      <span style="color: white;" class="glyphicon glyphicon-eye-open"></span>
                  </div>
                  <div>
                  <a class="btn-link item_links" href="#">Quick View</a>
                  </div>
              </li>
              <li>
                  <div>
                      <span style="color: white;" class="glyphicon glyphicon-shopping-cart"></span>
                  </div>
                  <div>
                  <a class="btn-link item_links product-rent" href="#">Buy</a>
                  </div>
              </li>
              <li>
                  <div>
                      <span style="color: white;" class="glyphicon glyphicon-briefcase"></span>
                  </div>
                  <div>
                  <a class="btn-link item_links product-buy" href="#">Rent</a>
                  </div>
              </li>
            </ul>
        </div>
    </div>
        </div>
    </div>

</div>