{% load category_tags %}
{% if filter_category_show %}
{# filename: book_categories.html #}
<style>
.clear-left-margin {
    margin-left: 0px !important;
}
.clear-left-padding {
    padding-left: 0px !important;
}
input[type=checkbox].margin-top-fix {
    margin-top: 2px !important;
}
</style>
<script>
$(document).ready(function () {
   $(document).on("click", ".category-left-menu-item", function (e) {

   });
    
   function search_list(element_object, input_text) {
        $(element_object).find(".br-left-menu-item").each(function (i) {
            var label_text = $(this).find(".label-text").text();
            var indx = label_text.toUpperCase().indexOf(input_text.toUpperCase().trim());
            console.log(indx);
            if(indx > -1) {
                $(this).show();
            }
            else {
                $(this).hide();
            }
        });
    }

    $(document).on("keyup", ".br-search-list", function (e) {
        search_list($(this).parent().parent(), $(this).val());
    });
    
});
</script>
<div class="panel panel-default">
    <div class="panel-heading" style="background-color: transparent;">
        {% if linkable %}
        <a href="{% url "book_browse_view" slug %}">{{ filter_category_header }}</a>
        {% else %}
        {{ filter_category_header }}
        {% endif %}
    </div>
    <div class="panel-body">
        <div style="padding: 0px; text-align: right;">
            <input type="text" class="br-search-list form-control" style="height: 24px; margin-bottom: 8px; " placeholder="Search ..."/>
        </div>
        <div style="max-height: 400px; overflow-x: hidden; overflow-y: auto;">
            {% for cat_item in filter_categories %}
            <label class="br-left-menu-item radio-inline clear-left-margin category-left-menu-item" data-category-slug="{{ cat_item.slug }}">
                <input type="radio" name="left-menu-category">
                <a href="{% url "book_browse_view" cat_item.slug %}"><span class="label-text">{{ cat_item.name }}</span></a>
            </label>
            {% endfor %}
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" style="background-color: transparent;">
        Authors
    </div>
    <div class="panel-body">
        <div style="padding: 0px; text-align: right;">
            <input type="text" class="br-search-list form-control" style="height: 24px; margin-bottom: 8px; " placeholder="Search ..."/>
        </div>
        <div style="max-height: 400px; overflow-x: hidden; overflow-y: auto;">
            {% for cat_item in filter_categories %}
            <div class="checkbox br-left-menu-item">
              <label><input type="checkbox" value=""><span class="label-text">{{ cat_item.name }}</span></label>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" style="background-color: transparent;">
        Publishers
    </div>
    <div class="panel-body">
        <div style="padding: 0px; text-align: right;">
            <input type="text" class="br-search-list form-control" style="height: 24px; margin-bottom: 8px; " placeholder="Search ..."/>
        </div>
        <div style="max-height: 400px; overflow-x: hidden; overflow-y: auto;">
            {% for cat_item in filter_categories %}
            <div class="checkbox br-left-menu-item">
              <label><input type="checkbox" value=""><span class="label-text">{{ cat_item.name }}</span></label>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}