{% load staticfiles %}
<style>
    .book_entry {
        box-shadow: 3px 3px 3px 3px #eeeeee;
        margin-bottom: 7px;
    }
    .book_entry p {
        font-size: 15px;
        Roboto,"Helvetica Neue",Arial,sans-serif !important;
        color: #2F4F4F !important;
        line-height: 20px !important;
    }

    .item_links {
        font-size: 15px !important;
    }
</style>

<div class="row book_entry">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
        <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-7 text-center" style="padding: 13px; ">

                <img style="margin-left: auto;margin-right: auto; margin-top: 13px; width: 130px; height: 140px; " src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRi7lIOzjyCNhoVpyaJGRuYklrorcjra8xXCroxeXXZgrhxX-dPZg" class="img-responsive book-img-grid">
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5" style="margin-top: 19px; padding: 3px; ">
                <p class="book-box-price">
                     Market Price: <strike> Rs. 659 </strike><br>
                    Our Price: Rs. 450<br/>

                <strong class="rent-start">Rent starts from Rs. 280                                            </strong><br>

                <span class="margin-top-bot">Initial Payable Rs. 659                                            </span><br>
                </p>
            </div>
        </div>
        <div class="row" style="padding: 13px; ">
            <div class="col-md-12 col-sm-12 col-xs-12 text-left pad-10 margin-left--8">
                 <p> Introduction to Computer Science
                </p>
                <i style="font-size: 14px; float: right; "> - By Humayun Ahmed</i>
                <br/>
                <hr class="book-box-hr">
                <ul class="list-inline text-center">
                  <li class="product-quick-view"><a class="btn-link item_links" href="#">Quick View</a></li>
                  <li><a class="btn-link item_links product-rent" href="#">Rent</a></li>
                  <li><a class="btn-link item_links product-buy" href="">Buy</a></li>
                </ul>
            </div>
        </div>
    </div>
        </div>
    </div>

</div>