<style type="text/css">
/* Style the list */
ul.breadcrumb {
    margin-left: 10px;
    //padding: 10px 16px;
    list-style: none;
    //background-color: #eee;
    font-size: 17px;
    background-color: transparent !important;
    padding: 0px !important;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    padding: 0px !important;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12">
            <ul class="breadcrumb" style="text-transform: uppercase; font-size: 12px!important; ">
              <li><a href="#" style="font-size: 12px!important; ">Home</a></li>
              <li><a href="#" style="font-size: 12px!important; ">Pictures</a></li>
              <li><a href="#" style="font-size: 12px!important; ">Summer 15</a></li>
              <li>Italy</li>
            </ul>
        </div>
    </div>
</div>