<style type="text/css">
    footer {
        background-color: #fff;
        border-top: 1px solid #ededed;
        padding: 50px;
        z-index: 2;
        position: relative;
        color: #484848;
        text-align: center;
    }
</style>
<footer class="container">
	  <h3>Online Book Rental Platform</h3>

	  <ul class="list-inline">
				<li><a href="#" class="neon">License</a></li>
				<li><a href="#" class="neon">Privacy Policy</a></li>
				<li><a href="#" class="neon">Contact</a></li>
				<li><a href="#" class="neon">How It Works</a></li>
                <li><a href="#" class="neon">How does Rent Work</a></li>
                <li><a href="#" class="neon">How does Buy work</a></li>
                <li><a href="#" class="neon">New Books</a></li>
	  </ul>

		<p class="copyright">Copyright © 2017 <a href="#" target="_blank">BD Reads</a>.
			<span class="second-line">All Rights Reserved.</span>
		</p>

		<ul class="list-inline share-buttons">
				<li>
						<a href="http://www.facebook.com/Tutorialzine" target="_blank" data-provider="facebook" title="Tutorialzine on Facebook">
								<i class="icon-social-facebook icon-primary icon-outlined"></i>
						</a>
				</li>
				<li>
						<a href="http://twitter.com/Tutorialzine" target="_blank" data-provider="twitter" title="Tutorialzine on Twitter">
								<i class="icon-social-twitter icon-primary icon-outlined"></i>
						</a>
				</li>
				<li>
						<a href="https://plus.google.com/102299652175684141333" target="_blank" data-provider="google" title="Tutorialzine on Google Plus">
								<i class="icon-social-google icon-primary icon-outlined"></i>
						</a>
				</li>
		</ul>
</footer>