{% load staticfiles %}
<style type="text/css">
    footer {
        background-color: #fff;
        border-top: 1px solid #ededed;
        padding: 50px;
        z-index: 2;
        position: relative;
        color: #484848;
        text-align: center;
    }
</style>
<footer class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xs-6 text-center">
                <div>
                <br/>
                <br/>
                <address>
                  <strong>BD Reads .com</strong><br>
                  1234 Example Street<br>
                  Antartica, Example 0987<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>

                <address>
                  <strong>Full Name</strong><br>
                  <a href="mailto:#">exam.ple@example.com</a>
                </address>
                </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xs-6 text-center">
                <h3>Write to us</h3>
                <p>We are happy to hear from you regarding any good suggestion, feedback, comments, feature you expect from us etc</p>
                <form style="max-width: 400px; margin-left: auto; margin-right: auto;" class="text-center">
                    <input style="margin-top: 10px;" type="text" class="form-control" name="contact_name" placeholder="Your Name"/>
                    <select class="form-control" style="margin-top: 10px;margin-left: auto; margin-right: auto;">
                        <option value="feedback">Feedback</option>
                        <option value="suggestion">Suggestion</option>
                        <option value="comments">Comments</option>
                        <option value="feature_request">New Feature Request</option>
                    </select>
                    <textarea style="margin-top: 10px;" class="form-control" placeholder="Your Message"></textarea>
                    <button style="margin-top: 10px; width: 100%;" class="btn btn-danger btn-lg">Submit</button>
                </form>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <ul class="list-inline">
                    <li><a href="#" class="neon">License</a></li>
                    <li><a href="#" class="neon">Privacy Policy</a></li>
                    <li><a href="#" class="neon">Contact</a></li>
                    <li><a href="#" class="neon">How It Works</a></li>
                    <li><a href="#" class="neon">How does Rent Work</a></li>
                    <li><a href="#" class="neon">How does Buy work</a></li>
                    <li><a href="#" class="neon">New Books</a></li>
          </ul>

            <p class="copyright">Copyright © 2017 <a href="#" target="_blank">BD Reads</a>.
                <span class="second-line">All Rights Reserved.</span>
            </p>
        </div>
    </div>
</footer>