<style type="text/css">
    .table-borderless > tbody > tr > td,
    .table-borderless > tbody > tr > th,
    .table-borderless > tfoot > tr > td,
    .table-borderless > tfoot > tr > th,
    .table-borderless > thead > tr > td,
    .table-borderless > thead > tr > th {
        border: none;
        padding: 3px !important;
    }

.cols-six {
    -webkit-column-count:6;
    -webkit-column-gap:10px;
    padding-top: 20px;
}
.cols-four {
    -webkit-column-count:4;
    -webkit-column-gap:10px;
    padding-top: 20px;
}
.cols-five {
    -webkit-column-count:5;
    -webkit-column-gap:10px;
    padding-top: 20px;
}
</style>

<div style="padding: 0px 20px 20px 20px; max-height: 400px !important; overflow-x: hidden !important; overflow-y: auto !important;">
  <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div style="padding: 10px;">
                <ul class="nav nav-tabs browse-tabs">
                  <li class="active"><a data-toggle="tab" href="#browse_menu_bc">By Categories</a></li>
                  <li><a data-toggle="tab" href="#browse_menuba">By Authors</a></li>
                  <li><a data-toggle="tab" href="#browse_menu_bp">By Publishers</a></li>
                </ul>

                <div class="tab-content" style="font-weight: normal !important;">
                  <div id="browse_menu_bc" class="tab-pane fade in active">
                    <div class="cols-six">
                        {% for cat_dict in header_categories %}
                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th style="border-bottom: 1px dotted lightslategray; text-transform: uppercase; ">
                                        {% if cat_dict.show_name_2 %}
                                            <a data-toggle="tooltip"  title="View all books for {{ cat_dict.name_2 }}" href="{% url "book_browse_view" cat_dict.slug %}">{{ cat_dict.name_2 }}</a>
                                        {% else %}
                                            <a data-toggle="tooltip"  title="View all books for {{ cat_dict.name }}" href="{% url "book_browse_view" cat_dict.slug %}">{{ cat_dict.name }}</a>
                                        {% endif %}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for child in cat_dict.children %}
                                    <tr>
                                        <td style="text-transform: uppercase; ">
                                            {% if child.show_name_2 %}
                                            <a data-toggle="tooltip"  title="View all books for {{ child.name_2 }}" style="font-size: 12px !important; " href="{% url "book_browse_view" child.slug %}">{{ child.name_2 }}</a>
                                            {% else %}
                                                <a data-toggle="tooltip"  title="View all books for {{ child.name }}" style="font-size: 12px !important; " href="{% url "book_browse_view" child.slug %}">{{ child.name }}</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                  </div>
                  <div id="browse_menuba" class="tab-pane fade">
                    <div class="cols-five">
                        {% for author in header_authors %}
                            <table class="table table-borderless" style="margin-bottom: 0px !important;">
                                <tbody>
                                <tr>
                                    <td align="right">
                                        {% if author.thumbnail %}
                                        <a href="#"><span><img data-toggle="tooltip" data-placement="top"  title="View author profile"  class="img-responsive img-rounded" width="60" height="60" src="{{ author.get_author_image_url }}"></span></a>
                                        {% else %}
                                        <a href="#"><span data-toggle="tooltip" data-placement="top" title="View author profile"  class="glyphicon glyphicon-user"></span></a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if author.show_bn %}
                                        <div><a style="font-size: 17px !important; " data-toggle="tooltip"  title="View all books by {{ author.name_bn }}" href="#">{{ author.name_bn }}</a></div>
                                        <div><p style="text-transform: capitalize; ">{{ author.description_bn }}</p></div>
                                        {% else %}
                                        <div><a data-toggle="tooltip"  title="View all books by {{ author.name }}" href="#">{{ author.name }}</a></div>
                                        <div><p style="text-transform: capitalize; ">{{ author.description }}</p></div>
                                        {% endif %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                  </div>
                  <div id="browse_menu_bp" class="tab-pane fade">
                    <div class="cols-five">
                        {% for publisher in header_publishers %}
                            {% if publisher.show_bn %}
                            <div><a data-toggle="tooltip"  title="View all books by {{ publisher.name_bn }}" style="font-size: 17px!important; text-transform: capitalize; " href="#">{{ publisher.name_bn }}</a></div>
                            {% else %}
                                <div><a data-toggle="tooltip"  title="View all books by {{ publisher.name }}" style="text-transform: capitalize; " href="#">{{ publisher.name }}</a></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                </div>
            </div>
      </div>
  </div>
</div>