{% load staticfiles %}
{% load settings_tags %}
<div class="navbar-wrapper navbar navbar-default navbar-fixed-top" style="background: #31b0d5; color: white !important; height: 35px;">
    <div class="container-fluid">
        <nav class="">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" style="color: white !important; float: left;">
                        <span class="glyphicon glyphicon-phone"></span> +880162563767
                    </a>
                    <a class="navbar-brand" href="#" style="color: white !important; float: left;">
                        <span class="glyphicon glyphicon-envelope" style="top:2px;"></span> support@bdreads.com
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right" style="color: white !important; ">
                        <li class=""><a href="#" style="color: white !important; ">How It Works?</a></li>
                        <li class=""><a href="#" style="color: white !important; ">Sale Books</a></li>
                        <li class=""><a href="#" style="color: white !important; ">Promotions</a></li>
                        <li class=""><a href="#" style="color: white !important; ">Discounts</a></li>
                        {% if request.user.is_authenticated and not request.user.is_staff %}
                        <li class="" class="dropdown" href="#">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: white !important; ">
                          <span class="glyphicon glyphicon-user"></span> Md Shariful Islam <span style="top: 3px;" class="glyphicon glyphicon-chevron-down"></span></a>
                          <ul class="dropdown-menu">
                              <div style="padding: 20px;">
                                  <ul class="list" style="list-style-type:none; padding-left: 0px; font-size: 14px;">
                                      <li class="list-item" style="padding-bottom: 10px;">
                                         <a href="#">My Orders</a>
                                      </li>
                                      <li class="list-item" style="padding-bottom: 10px;">
                                         <a href="#">My Profile</a>
                                      </li>
                                      <li class="list-item" style="padding-bottom: 10px;">
                                         <a href="#">Return Books</a>
                                      </li>
                                      <li class="list-item" style="padding-bottom: 10px;">
                                         <a href="#">My Payments</a>
                                      </li>
                                      <li class="list-item" style="padding-bottom: 10px;">
                                          <a href="#">Settings</a>
                                      </li>
                                      <li class="list-item" style="padding-bottom: 10px;">
                                          <a href="#">Change Password</a>
                                      </li>
                                      <li class="list-item" style="padding-bottom: 10px;">
                                         <a href="#">Logout</a>
                                      </li>
                                  </ul>
                              </div>
                          </ul>
                        </li>
                        {% elif not request.user.is_authenticated %}
                        <li class="" class="dropdown" href="#">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: white !important; ">
                          <span class="glyphicon glyphicon-user"></span> Login <span style="top: 3px;" class="glyphicon glyphicon-chevron-down"></span></a>
                          <ul class="dropdown-menu" style="color: black !important;">
                              <div style="padding: 10px; ">
                                  <ul class="list" style="list-style-type:none; padding-left: 0px; font-size: 14px;">
                                      <li class="list-item" style="padding-bottom: 10px;">
                                         <a href="{% url "bauth_signup_view" %}">Register for Free!</a>
                                      </li>
                                      <li class="list-item" style="padding-bottom: 10px;">
                                         <a href="{% url "bauth_login_view" %}">Login</a>
                                      </li>
                                    </ul>
                                </div>
                            </ul>
                        </li>
{#                        <li class=""><a style="color: white !important;" href="{% url "bauth_signup_view" %}">Register</a></li>#}
{#                        <li class=""><a style="color: white !important;" href="{% url "bauth_login_view" %}">Login</a></li>#}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="container" style="margin-top: 50px;">
  <div class="row">
      <div class="col-md-3">
            <img src="{% static "images/logo.png" %}" style="width: 200px; height: 60px;"/>
            <h5 class="pull-right"> - Read Anywhere, Anytime</h5>
      </div>
      <div class="col-md-9">
                <form action="{% url "book_search_view" %}" class="navbar-form navbar-right search-form" role="search" style="margin-bottom: 0px !important; margin-top: 14px !important; ">
                    <div>
                    <div class="input-group add-on">
                      <input class="form-control" style="width: 400px; padding: 20px !important; "  placeholder="Search by title, ISBN, Author, Keywords..." name="keyword" id="id_book_search_term" type="text">
                      <div class="input-group-btn">
                        <button class="btn btn-default" style="padding: 10px;" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                      </div>
                    </div>
                      <div class="dropdown" href="#" style="color: #38525a !important; display: inline-table; ">
                      <button class="dropdown-toggle btn btn-danger" style="padding: 9px;" data-toggle="dropdown" ><span class="glyphicon glyphicon-shopping-cart"></span> My Cart(2) <span style="top: 3px;" class="glyphicon glyphicon-chevron-down"></span></button>
                      <ul class="dropdown-menu">
                          <div style="padding: 20px;">
                              <div class="row">
                                  <div class="col-md-12">
                                      <img class="img-rounded" style="margin-left: auto;margin-right: auto; margin-top: 13px; width: 130px; height: 140px; " src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRi7lIOzjyCNhoVpyaJGRuYklrorcjra8xXCroxeXXZgrhxX-dPZg" class="img-responsive book-img-grid">
                                  </div>
                              </div>
                              <a class="pull-right" href="{% url "my_cart_view" %}">View Cart</a>
                          </div>
                      </ul>
                    </div>
                    </div>
                </form>
      </div>
  </div>
</div>
<nav class="navbar navbar-default menu-navbar" role="navigation" style="font-size: 10px; text-transform: uppercase; margin-top: 8px;">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="{% url "home_view" %}">Home</a></li>
        <li class="dropdown" style="position: static !important;">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse Books <span style="top: 2px;" class="glyphicon glyphicon-chevron-down"></span></a>

          <ul class="dropdown-menu" style="left: 15px !important; right: 15px !important; ">
            {% include "sections/header_categories.html" %}
          </ul>

        </li>
        <li><a href="#">Authors</a></li>
        <li><a href="#">Publishers</a></li>
      <li><a href="#">New Books</a></li>
      <li><a href="#">Most Popular Books</a></li>
      <li><a href="#">College Books</a></li>
      <li><a href="#">University Books</a></li>
      <li><a href="#">Entertainment</a></li>
    </ul>
  </div>
</nav>


<style type="text/css">
/* Style the list */
ul.breadcrumb {
    margin-left: 10px;
    //padding: 10px 16px;
    list-style: none;
    //background-color: #eee;
    font-size: 17px;
    background-color: transparent !important;
    padding: 0px !important;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    padding: 0px !important;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12">
            <ul class="breadcrumb" style="text-transform: uppercase; font-size: 12px!important; ">
              <li><a href="#" style="font-size: 12px!important; ">Home</a></li>
              <li><a href="#" style="font-size: 12px!important; ">Pictures</a></li>
              <li><a href="#" style="font-size: 12px!important; ">Summer 15</a></li>
              <li>Italy</li>
            </ul>
        </div>
    </div>
</div>

{#{% include "sections/top_banner.html" %}#}