<style type="text/css">
    .table-borderless > tbody > tr > td,
    .table-borderless > tbody > tr > th,
    .table-borderless > tfoot > tr > td,
    .table-borderless > tfoot > tr > th,
    .table-borderless > thead > tr > td,
    .table-borderless > thead > tr > th {
        border: none;
        padding: 3px !important;
    }

.cols {
    -webkit-column-count:6;
    -webkit-column-gap:10px;
    padding-top: 20px;
}
</style>

<div style="padding: 0px 20px 20px 20px; max-height: 400px !important; overflow-x: hidden !important; overflow-y: auto !important;">
  <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div style="padding: 10px;">
                <ul class="nav nav-tabs browse-tabs">
                  <li class="active"><a data-toggle="tab" href="#browse_menu_bc">By Categories</a></li>
                  <li><a data-toggle="tab" href="#browse_menuba">By Authors</a></li>
                  <li><a data-toggle="tab" href="#browse_menu_bp">By Publishers</a></li>
                </ul>

                <div class="tab-content" style="font-weight: normal !important;">
                  <div id="browse_menu_bc" class="tab-pane fade in active">
                    <div class="cols">
                        {% for cat_dict in all_categories %}
                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th style="border-bottom: 1px dotted lightslategray; text-transform: uppercase; ">
                                        <a href="{% url "book_browse_view" cat_dict.slug %}">{{ cat_dict.name }}</a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for child in cat_dict.children %}
                                    <tr>
                                        <td style="text-transform: uppercase; ">
                                            <a style="font-size: 12px !important; " href="{% url "book_browse_view" child.slug %}">{{ child.name }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                  </div>
                  <div id="browse_menuba" class="tab-pane fade">
                    <h3>Menu 1</h3>
                    <p>Some content in menu 1.</p>
                  </div>
                  <div id="browse_menu_bp" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Some content in menu 2.</p>
                  </div>
                </div>
            </div>
      </div>
  </div>
</div>