<tr>
     <td class="pull-right">
         <div>
             <img style="margin: 4px 20px 20px 20px; width: 100px; height: 100px; " src="https://s3-ap-southeast-1.amazonaws.com/ireads/images/books/9780425151877.jpg" class="img-responsive book-img-grid">
         </div>
         <div style="font-size: 13px; ">
             ISBN: 1231312112
         </div>
     </td>
     <td>
         <p style="font-size: 16px; ">Game of Thrones</p>
         <p style="font-size: 13px; font-style: italic; ">
              - By Humayun Ahmed
         </p>
         <p>
             <label>RENT</label>
         </p>
     </td>
     <td>
         <select class="form-control">
             <option value="30">30 Days</option>
             <option value="60">60 Days</option>
         </select>
     </td>
     <td>
         300 BDT
     </td>
    <td>
        2
    </td>
    <td>
        600 BDT
    </td>
 </tr>