<div class="row">
  <div class="col-md-9">
      <ul class="pagination">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>
  </div>
  <div class="col-md-3">
        <ul class="pagination pull-right">
          <li><a href="#"><span class="glyphicon glyphicon-menu-left"></span></a></li>
          <li><a href="#"><span class="glyphicon glyphicon-menu-right"></span></a></li>
        </ul>
  </div>
</div>