<div class="panel panel-default">
        <div class="panel-heading">Browse By Category<a class="pull-right" href="#">View All</a></div>
      <div class="panel-body">
          <div class="checkbox">
          <label><input type="checkbox" value=""><a href="#">Dibya Prokashoni</a></label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value=""><a href="#">Onno ProkaSoni</a></label>
        </div>
        <div class="checkbox disabled">
          <label><input type="checkbox" value=""><a href="#">Amar Boi</a></label>
        </div>
      </div>

  </div>
  <div class="panel panel-default">
        <div class="panel-heading">Browse By Publishers<a class="pull-right" href="#">View All</a></div>
      <div class="panel-body">
          <div class="checkbox">
          <label><input type="checkbox" value=""><a href="#">Dibya Prokashoni</a></label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value=""><a href="#">Onno ProkaSoni</a></label>
        </div>
        <div class="checkbox disabled">
          <label><input type="checkbox" value=""><a href="#">Amar Boi</a></label>
        </div>
      </div>

  </div>
  <div class="panel panel-default">
        <div class="panel-heading">Browse By Publishers<a class="pull-right" href="#">View All</a></div>
      <div class="panel-body">
          <div class="checkbox">
          <label><input type="checkbox" value="">Option 1</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Option 2</label>
        </div>
        <div class="checkbox disabled">
          <label><input type="checkbox" value="" disabled>Option 3</label>
        </div>
      </div>

  </div>
  <div class="panel panel-default">
        <div class="panel-heading">Browse By Discount</div>
      <div class="panel-body">
          <div class="checkbox">
          <label><input type="checkbox" value="">Option 1</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Option 2</label>
        </div>
        <div class="checkbox disabled">
          <label><input type="checkbox" value="" disabled>Option 3</label>
        </div>
      </div>

  </div>