<div class="container">
<style type="text/css">
    .carousel-inner{
        height: 200px;
    }

</style>
<div id="banner_slideshow" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#banner_slideshow" data-slide-to="0" class="active"></li>
    <li data-target="#banner_slideshow" data-slide-to="1"></li>
    <li data-target="#banner_slideshow" data-slide-to="2"></li>
      <li data-target="#banner_slideshow" data-slide-to="2"></li>
      <li data-target="#banner_slideshow" data-slide-to="3"></li>
      <li data-target="#banner_slideshow" data-slide-to="4"></li>
      <li data-target="#banner_slideshow" data-slide-to="5"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <a href="#"><img src="http://placekitten.com/1600/600" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="http://placekitten.com/1600/600" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="http://placekitten.com/1600/600" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="http://placekitten.com/1600/600" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
      <div class="item">
      <a href="#"><img src="http://placekitten.com/1600/600" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
      <div class="item">
      <a href="#"><img src="http://placekitten.com/1600/600" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#banner_slideshow" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" style="color: white;"></span>
  </a>
  <a class="right carousel-control" href="#banner_slideshow" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" style="color: white;"></span>
  </a>
</div>
</div>