{% extends "master.html" %}
{% load staticfiles %}
{% block top_header_menu %}
{% include "sections/header_top_menu.html" %}
{% endblock top_header_menu %}
{% block top_breadcumb %}
{% include "sections/breadcumb.html" %}
{% endblock top_breadcumb %}
{% block top_banner %}
{% endblock top_banner %}
{% block content %}
    {% block filter_stylesheet %}
    {% endblock filter_stylesheet %}
    <style type="text/css">
        .filter-main-content-body {
            -moz-box-shadow: 0 0 9px #999;
            -webkit-box-shadow: 0 0 9px #999;
            box-shadow: 0 0 9px #999;
            padding: 20px;
        }
        .book_entry {
{#            -moz-box-shadow: 0 0 3px #999;#}
{#            -webkit-box-shadow: 0 0 3px #999;#}
{#            box-shadow: 0 0 3px #999;#}
        }
        .book_entry_shadow {
            -moz-box-shadow: 0 0 9px #999;
            -webkit-box-shadow: 0 0 9px #999;
            box-shadow: 0 0 9px #999;
        }
    </style>
    <div class="container">
    <!-- Top filter area !-->
        <div class="row">
            <div class="col-md-12 filter-main-content-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="browse-filter-pane" style="background-color: #f7f8fb !important; padding: 0 10px 10px 10px; border: 1px solid #dadae6; margin-top: 10px !important; border-radius: 4px !important;">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color: transparent;">
                                <a href="#" class="btn-browse-filter btn pull-right" style="margin: 10px 0px 0px 0px; color: white !important;background-color: #31b0d5 !important;">
                                <span class="glyphicon glyphicon-th-list"></span> More Filters</a>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"  id="id_browse_more_filter_content">
                                <!-- Add here the browse filter !-->
                                {% block filter_options %}
                                {% endblock filter_options %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding: 20px;">
                        <div class="row">
                            <div class="col-md-12" style="padding: 10px 10px 10px 23px;">
                                Total 3902 Authors
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="id_filter_list_content">
                                {% block filter_result_list %}
                                {% include "sections/book_browse_row.html" %}
                                {% include "sections/book_browse_row.html" %}
                                {% include "sections/book_browse_row.html" %}
                                {% include "sections/book_browse_row.html" %}
                                {% include "sections/book_browse_row.html" %}
                                {% include "sections/book_browse_row.html" %}
                                {% endblock filter_result_list %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="padding: 10px;">
                                Pagination
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
<script>
$(document).ready(function () {

});
</script>
{% endblock content %}
