{% extends "master.html" %}
{% load staticfiles %}
{% block more_stylesheet %}
<link href="{% static "css/search_page.css" %}" rel="stylesheet" />
{% endblock more_stylesheet %}
{% block content %}
    <div class=" " id="contact1">
        <div class="container" style="width: 100%;">
          <div class="row " style="border-bottom: 1px solid #e7e7e7; margin-bottom: 10px; ">
              <div class="col-md-2">

              </div>
              <div class="col-md-10" style="padding-right: 20px; ">

              </div>
          </div>
        </div>
          <div class="container">
              <div class="row">
{#                  <div class="col-md-2 right-border">#}
{#                      <div class="address add-animation-stopped animation-1">#}
{#                          <h4>Where to meet ?</h4>#}
{#                          <p class="text-gray">#}
{#                              2578 Paris Rue Abel, 12<br>#}
{#                              Rue Abel, 12<br>#}
{#                              France#}
{#                          </p>#}
{#                          <h4>Phone</h4>#}
{#                          <p class="text-gray">0456 / 71 21 39</p>#}
{#                          <h4>By the old way</h4>#}
{#                          <a href="mailto:hello@creative-tim.com">#}
{#                              <p class="text-gray">hello@creative-tim.com</p>#}
{#                          </a>#}
{#                      </div>#}
{#                  </div>#}
                  <div class="col-md-9">
                      <div class="col-md-12">
                          {% include "sections/pagination.html" %}
                          <div class="row">
                              <div class="col-md-12">
                                    {% include "sections/search_result_row.html" %}
                                    {% include "sections/search_result_row.html" %}
                                    {% include "sections/search_result_row.html" %}
                                    {% include "sections/search_result_row.html" %}
                              </div>
                            </div>
                            {% include "sections/pagination.html" %}
                      </div>
                  </div>
                  <div class="col-md-3 cart_block">
                      <div class="col-md-12">
                          <div class="cart_title">
                              Your Cart
                              <hr/>
                          </div>
                          <div class="cart_content">
                              No items found
                          </div>
                      </div>
                      <div class="col-md-12">
                          <br/>
                          <div class="cart_title">
                              Top rated Books
                              <hr/>
                          </div>
                          <div class="cart_content">
                              {% include "sections/top_rated_entry.html" %}
                              {% include "sections/top_rated_entry.html" %}
                              {% include "sections/top_rated_entry.html" %}
                              {% include "sections/top_rated_entry.html" %}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
{% endblock content %}
