{% extends "master.html" %}
{% load staticfiles %}
{% block content %}
    <script src="{% static "js/browse_books.js" %}"></script>
    <link href="{% static "css/book_browse.css" %}" rel="stylesheet" />
    <div class=" " id="contact1">
        <div class="container" >
          <div class="row">
              <div class="col-md-2">

              </div>
              <div class="col-md-10" style="">
                  <form class="navbar-form navbar-right search-form" role="search">
                    <div class="col-md-12" style="margin-right: 30px; ">
                        <button style="margin: 0px 0px; padding: 13px; background: #bc3526; color: white; opacity: 1.0; " class="btn btn-primary pull-right">Search</button>
                      <input type="text" style="min-width: 350px; max-width: 500px; height: 42px !important; " class="form-control pull-right" name="book_search" placeholder="Search By ISBN, Book Title, Author Name, Keywords..."/>

                    </div>
                </form>
              </div>
          </div>
        </div>
        <div class="container" style="width: 100%;">
          <div class="row " style="border-bottom: 1px solid #e7e7e7; margin-bottom: 10px; ">
              <div class="col-md-2">

              </div>
              <div class="col-md-10" style="padding-right: 20px; ">

              </div>
          </div>
        </div>
          <div class="container">
              <div class="row">
                  <div class="col-md-2 right-border">
                      <ul class="nav nav-list">
                <li><label class="tree-toggle nav-header">Bootstrap</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#">JavaScript</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><label class="tree-toggle nav-header">Buttons</label>
                            <ul class="nav nav-list tree">
                                <li><a href="#">Colors</a></li>
                                <li><a href="#">Sizes</a></li>
                                <li><label class="tree-toggle nav-header">Forms</label>
                                    <ul class="nav nav-list tree">
                                        <li><a href="#">Horizontal</a></li>
                                        <li><a href="#">Vertical</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>



                  </div>
                  <div class="col-md-10">
                      <div class="col-md-12">
                          <div class="row">
                              <div class="col-md-12">
                                    {% include "sections/book_browse_row.html" %}
                                    {% include "sections/book_browse_row.html" %}
                                    {% include "sections/book_browse_row.html" %}
                                    {% include "sections/book_browse_row.html" %}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
{% endblock content %}
