{% extends "master.html" %}
{% load staticfiles %}
{% block more_stylesheet %}
<link href="{% static "css/search_page.css" %}" rel="stylesheet" />
{% endblock more_stylesheet %}
{% block content %}
    <div class=" " id="contact1">
        <div class="container" >
          <div class="row">
              <div class="col-md-2">

              </div>
              <div class="col-md-10" style="">
                  <button style="margin-top: 20px; padding: 17px; background: #bc3526; color: white; opacity: 1.0; " class="btn btn-primary pull-right">Search</button>
                  <input type="text" style="margin-top: 20px; max-width: 450px; " class="form-control pull-right" name="book_search" placeholder="Search By ISBN, Book Title, Author Name, Keywords..."/>
              </div>
          </div>
        </div>
        <div class="container" style="width: 100%;">
          <div class="row " style="border-bottom: 1px solid #e7e7e7; margin-bottom: 10px; ">
              <div class="col-md-2">

              </div>
              <div class="col-md-10" style="padding-right: 20px; ">

              </div>
          </div>
        </div>
          <div class="container">
              <div class="row">
                  <div class="col-md-10">
                      <div class="row book_entry search_entry">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">

                                        <img style="width: 200px; height: 200px; " src="https://s3-ap-southeast-1.amazonaws.com/ireads/images/books/9780425151877.jpg" class="img-responsive book-img-grid">
                                                                                </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8 text-left pad-10 margin-left--8">
                                         <div class="cart_title"> Games of State: Op...
                                        </div>
                                        <div class="cart_content"> Author:

                                          Jeff Rovin Ste...</div>
                                        <hr class="book-box-hr">
                                        <div class="cart_content">MRP: <strike> Rs. 659 </strike><br>

                                        <div class="badge light_badge"> Stock Available</div><br>
                                        </div>
                                        <div class="cart_content">Rating: 4.5/5.0</div>
                                        <div>
                                            <br/>
                                            <ul class="list-inline search_action">
                                              <li><a class="btn btn-danger" href="">Rent</a></li>
                                              <li><a class="btn btn-danger" href="">Buy</a></li>
                                              <li><a class="btn btn-danger" href="">Get Item Link</a></li>
                                              <li><a class="btn btn-danger" href="">Send To A Friend</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  </div>
                  <div class="col-md-2 cart_block">
                      <div class="col-md-12">
                          <div class="cart_title">
                              Your Cart
                              <hr/>
                          </div>
                          <div class="cart_content">
                              No items found
                          </div>
                      </div>
                      <div class="col-md-12">
                          <br/>
                          <div class="cart_title">
                              Top rated Books
                              <hr/>
                          </div>
                          <div class="cart_content">
                              {% include "sections/top_rated_entry.html" %}
                              {% include "sections/top_rated_entry.html" %}
                              {% include "sections/top_rated_entry.html" %}
                              {% include "sections/top_rated_entry.html" %}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
{% endblock content %}
