{% extends "master.html" %}
{% load staticfiles %}
{% block more_stylesheet %}
<link href="{% static "css/search_page.css" %}" rel="stylesheet" />
<style type="text/css">
.search-page-body .pagination>li>a, .pagination>li>span {
    border: none !important;
    text-decoration: underline;

}
.search-page-body .pagination>li:first-child>a, .pagination>li:first-child>span {
    border: none !important;
}
</style>
{% endblock more_stylesheet %}
{% block content %}
    <div class="search-page-body" id="contact1">
        <div class="container" style="width: 100%;">
          <div class="row " style="border-bottom: 1px solid #e7e7e7; margin-bottom: 10px; ">
              <div class="col-md-2">

              </div>
              <div class="col-md-10" style="padding-right: 20px; ">

              </div>
          </div>
        </div>
          <div class="container">
              <div class="row">
                  <div class="col-md-9">
                      <div class="col-md-4">
                          <h4>Search Filter</h4>
                          <hr/>
                          <p><input type="checkbox"> Exclude Out of Stock</p>
                          <br/>
                          <h5>Filter By</h5>
                          <hr/>
                          <p><input type="text" class="form-control" placeholder="Category"></p>
                          <p><input type="text" class="form-control" placeholder="Author Name"></p>
                          <p><input type="text" class="form-control" placeholder="Publisher Name"></p>
                          <p><input type="text" class="form-control" placeholder="ISBN"></p>
                          <p><input type="text" class="form-control" placeholder="Keywords"></p>
                      </div>
                      <div class="col-md-8">
                          {% include "sections/pagination.html" %}
                          <div class="row">
                              <div class="col-md-12">
                                    {% include "sections/search_result_row.html" %}
                                    {% include "sections/search_result_row.html" %}
                                    {% include "sections/search_result_row.html" %}
                                    {% include "sections/search_result_row.html" %}
                              </div>
                            </div>
                            {% include "sections/pagination.html" %}
                      </div>
                  </div>
                  <div class="col-md-3 cart_block">
                      <div class="col-md-12">
                          <div class="cart_title">
                              Your Cart
                              <hr/>
                          </div>
                          <div class="cart_content">
                              No items found
                          </div>
                      </div>
                      <div class="col-md-12">
                          <br/>
                          <div class="cart_title">
                              Top rated Books
                              <hr/>
                          </div>
                          <div class="cart_content">
                              {% include "sections/top_rated_entry.html" %}
                              {% include "sections/top_rated_entry.html" %}
                              {% include "sections/top_rated_entry.html" %}
                              {% include "sections/top_rated_entry.html" %}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
{% endblock content %}
