{% extends "master.html" %}
{% load staticfiles %}
{% block top_header_menu %}
{% include "sections/header_top_menu.html" %}
{% endblock top_header_menu %}
{% block top_breadcumb %}
{% include "sections/breadcumb.html" %}
{% endblock top_breadcumb %}
{% block more_stylesheet %}
<link href="{% static "css/vendor/raty/jquery.raty2.7.1.css" %}" rel="stylesheet" />
<link href="{% static "css/search_page.css" %}" rel="stylesheet" />
<script src="{% static "js/vendor/raty/jquery.raty2.7.1.js" %}"></script>
<script src="{% static "js/vendor/modernizr.js" %}"></script>
<script src="{% static "js/vendor/handlebars.min.js" %}"></script>
<script src="{% static "js/template_renderer.js" %}"></script>
<script src="{% static "js/search_pagination.js" %}"></script>
<script src="{% static "js/book_search.js" %}"></script>
<style type="text/css">
.search-page-body .pagination>li>a, .pagination>li>span {
    border: none !important;
    text-decoration: underline;

}
.search-page-body .pagination>li:first-child>a, .pagination>li:first-child>span {
    border: none !important;
}
.list-group-item {
    padding: 10px 15px 10px 0px !important;
}
.panel-default>.panel-heading {
    background-color: #fdfdff !important;
}
.panel-heading {
    font-weight: bold !important;
}
.price-label {
    margin-right: 10px !important;
}
</style>
<script type="text/javascript">
$(document).ready(function () {
   $(".product-rating").raty({
       'path': '{% static "css/vendor/raty/images" %}',
       'readOnly': true,
       score: function()
       {
           return $(this).attr('data-rating');
       }
   });
});
</script>
{% endblock more_stylesheet %}
{% block content %}
    <div class="search-page-body" id="contact1">
        <div class="container" style="width: 100%;">
          <div class="row " style="border-bottom: 1px solid #e7e7e7; margin-bottom: 10px; ">
              <div class="col-md-2">

              </div>
              <div class="col-md-10" style="padding-right: 20px; ">

              </div>
          </div>
        </div>
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="col-md-3">
                          <h4>Search Filter</h4>
                          <hr/>
                          <input type="hidden" name="sf-current-page" {% if page %}value="{{ page }}"{% else %}value=""{% endif %}/>
                          <p class="hint small" style="letter-spacing: 0.08em;">
                              Type Book ISBN or Keywords below and then press ENTER to filter the search result
                          </p>
                          <p><input type="text" name="sf-isbn" {% if isbn %}value="{{ isbn }}"{% endif %} class="form-control sf-form-control" placeholder="Enter ISBN"></p>
                          <p><input type="text" name="sf-keyword" class="form-control sf-form-control" placeholder="Enter keyword e.g Algebra" {% if keyword %}value="{{ keyword }}" {% endif %}></p>
                          <br/>
                          <div>
                              <p>Book Language</p>
                              <hr style="margin: 2px 0px 9px 0px;"/>
                              <label style="cursor: pointer;"><input type="checkbox" {% if lang_en %}checked="checked"{% endif %} value="en" name="sf-bl" class=" sf-form-control"/> English</label>
                              <label style="cursor: pointer;"><input type="checkbox" value="bn" {% if lang_bn %}checked="checked"{% endif %} name="sf-bl" class=" sf-form-control"/> Bangla</label>
                          </div>
                          <br/>
                          <div>
                              <p>By Product Rating</p>
                              <hr style="margin: 2px 0px 9px 0px;"/>
                              <ul class="list-group">
                                  <li class="list-group-item">
                                      <input style="position: relative; bottom: -3px;" type="checkbox" {% if rating_0 %}checked="checked"{% endif %} name="sf-rating" value="0" class="sf-form-control"/> <div style="display: inline;" data-rating="0" class="product-rating"></div>
                                  </li>
                                  <li class="list-group-item">
                                      <input style="position: relative; bottom: -3px;" type="checkbox" {% if rating_1 %}checked="checked"{% endif %} name="sf-rating" value="1" class="sf-form-control"/> <div style="display: inline;" data-rating="1" class="product-rating"></div>
                                  </li>
                                  <li class="list-group-item">
                                      <input style="position: relative; bottom: -3px;" type="checkbox" {% if rating_2 %}checked="checked"{% endif %} name="sf-rating" value="2" class="sf-form-control"/> <div style="display: inline;" data-rating="2" class="product-rating"></div>
                                  </li>
                                  <li class="list-group-item">
                                      <input style="position: relative; bottom: -3px;" type="checkbox" {% if rating_3 %}checked="checked"{% endif %} name="sf-rating" value="3" class="sf-form-control"/> <div style="display: inline;" data-rating="3" class="product-rating"></div>
                                  </li>
                                  <li class="list-group-item">
                                      <input style="position: relative; bottom: -3px;" type="checkbox" {% if rating_4 %}checked="checked"{% endif %} name="sf-rating" value="4" class="sf-form-control"/> <div style="display: inline;" data-rating="4" class="product-rating"></div>
                                  </li>
                                  <li class="list-group-item">
                                      <input style="position: relative; bottom: -3px;" type="checkbox" {% if rating_5 %}checked="checked"{% endif %} name="sf-rating" value="5" class="sf-form-control"/> <div style="display: inline;" data-rating="5" class="product-rating"></div>
                                  </li>
                              </ul>
                          </div>
                          <div>
                              <p class="hint" style="letter-spacing: 0.08em;">
                              Filter Books by New or used
                              </p>
                              <hr style="margin: 2px 0px 9px 0px;"/>
                              <ul class="list-group">
                                  <li class="list-group-item" style="padding: 0px 0px 0px 0px !important;">
                                      <label style="cursor: pointer;"><input type="checkbox" {% if use_status_new %}checked="checked"{% endif %} value="new" name="sf-by-used" class="sf-form-control"/> New Books</label>
                                  </li>
                                  <li class="list-group-item" style="padding: 0px 0px 0px 0px !important;">
                                      <label style="cursor: pointer;"><input type="checkbox" {% if use_status_used %}checked="checked"{% endif %} value="used" name="sf-by-used" class="sf-form-control"/> Used Books</label>
                                  </li>
                              </ul>
                          </div>
                          <div>
                              <p class="hint" style="letter-spacing: 0.08em;">
                              Printing Type
                              </p>
                              <hr style="margin: 2px 0px 9px 0px;"/>
                              <ul class="list-group">
                                  <li class="list-group-item" style="padding: 0px 0px 0px 0px !important;">
                                      <label style="cursor: pointer;"><input type="checkbox" {% if print_type_ORI %}checked="checked"{% endif %} value="ORI" name="sf-by-print" class="sf-form-control"/> Original Print</label>
                                  </li>
                                  <li class="list-group-item" style="padding: 0px 0px 0px 0px !important;">
                                      <label style="cursor: pointer;"><input type="checkbox" {% if print_type_COL %}checked="checked"{% endif %} value="COL" name="sf-by-print" class="sf-form-control"/> Color Print</label>
                                  </li>
                                  <li class="list-group-item" style="padding: 0px 0px 0px 0px !important;">
                                      <label style="cursor: pointer;"><input type="checkbox" {% if print_type_ECO %}checked="checked"{% endif %} value="ECO" name="sf-by-print" class="sf-form-control"/> Economy Print</label>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-md-9" style="border-left: 1px dotted #e4eff3;">
                          <div class="browse-filter-pane" style="background-color: #f7f8fb !important; padding: 10px; border: 1px solid #dadae6; margin-top: 10px !important; border-radius: 4px !important;">
                              <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <a href="#" class="pull-left" style="">
                                        <label style="cursor: pointer; ">
                                            <input type="checkbox" {% if out_of_stock %}checked="checked"{% endif %} name="sf-out-of-stock" style="position: relative; bottom: -1px; " class="sf-form-control"> Exclude Out of stock</label></a>
                                        <a href="#" class="btn-browse-filter btn pull-right" style="color: white !important;background-color: #31b0d5 !important;">
                                        <span class="glyphicon glyphicon-th-list"></span> More Filters</a>
                                  </div>
                              </div>
                              <div id="id_browse_more_filter_content" class="row" style="padding-top: 20px; {% if not filter_expand %}display: none;{% endif %}">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">Browse By Category</div>
                                                      <div class="panel-body" style="max-height: 250px; overflow-y: auto;">
                                                          <div class="small">
                                                              {% if parent_cat %}
                                                              {% if parent_cat.show_2 %}
                                                              <a class="filter_search_prev_cat" data-name="{{ parent_cat.name_2 }}" href="#">
                                                              <span class="glyphicon glyphicon-menu-left"></span> <span>{{ parent_cat.name_2 }}</span></a>
                                                              {% else %}
                                                              <a class="filter_search_prev_cat" data-name="{{ parent_cat.name }}" href="#">
                                                              <span class="glyphicon glyphicon-menu-left"></span> <span>{{ parent_cat.name }}</span></a>
                                                              {% endif %}
                                                              {% else %}
                                                              <a style="display: none;" class="filter_search_prev_cat" data-name="" href="#">
                                                              <span class="glyphicon glyphicon-menu-left"></span> <span></span></a>
                                                              {% endif %}
                                                          </div>
                                                          <div>
                                                              <div class="input-group add-on">
                                                              <input class="form-control pull-right" style="width: 100%; " placeholder="Find..." name="filter_search_category" id="id_filter_search_category" type="text">
                                                              <div class="input-group-btn">
                                                                <button class="btn btn-default" style="padding: 6px;" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                                              </div>
                                                            </div>
                                                          </div>
                                                          <div id="id_search_filter_category_panel" style="overflow-y: auto; max-height: 200px !important;">
                                                          {% for cat_object in filter_categories %}
                                                          <div class="checkbox">
                                                           <label><input type="checkbox" {% if cat_object.slug in categories %}checked="checked"{% endif %} value="{{ cat_object.slug }}" data-name="{{ cat_object.name }}" name="search-filter-by-category" class="search-filter-by-category" value="{{ cat_object.pk }}">
                                                               {% if cat_object.show_2 %}
                                                               <a href="{% url "book_browse_view" cat_object.slug %}">{{ cat_object.name_2 }}</a>
                                                               {% else %}
                                                               <a href="{% url "book_browse_view" cat_object.slug %}">{{ cat_object.name }}</a>
                                                               {% endif %}
                                                           </label>
                                                          </div>
                                                          {% endfor %}
                                                          </div>
                                                      </div>

                                              </div>
                                          </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">Browse By Authors</div>
                                                      <div class="panel-body" style="max-height: 250px; overflow-y: auto;">
                                                            <div>
                                                              <div class="input-group add-on">
                                                              <input class="form-control pull-right" style="width: 100%; " placeholder="Find..." name="filter_search_author" id="id_filter_search_author" type="text">
                                                              <div class="input-group-btn">
                                                                <button class="btn btn-default" style="padding: 6px;" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                                              </div>
                                                            </div>
                                                          </div>
                                                          {% for filter_author in filter_authors %}
                                                              <div class="checkbox">
                                                                  <label><input type="checkbox" {% if filter_author.slug in authors %}checked="checked"{% endif %} name="filter-author-name" value="{{ filter_author.slug }}"><a href="{% url "author_browse_filter_view" filter_author.slug %}">{{ filter_author.name }}</a></label>
                                                              </div>
                                                          {% endfor %}
                                                      </div>

                                              </div>
                                          </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">Browse By Publishers</div>
                                                      <div class="panel-body">
                                                            <div>
                                                              <div class="input-group add-on">
                                                              <input class="form-control pull-right" style="width: 100%; " placeholder="Find..." name="filter_search_publisher" id="id_filter_search_publisher" type="text">
                                                              <div class="input-group-btn">
                                                                <button class="btn btn-default" style="padding: 6px;" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                                              </div>
                                                            </div>
                                                          {% for filter_publisher in filter_publishers %}
                                                          <div class="checkbox">
                                                              <label><input type="checkbox" {% if filter_publisher.slug in publishers %}checked="checked"{% endif %} name="filter-publisher" value="{{ filter_publisher.slug }}"><a href="#">{{ filter_publisher.name }}</a></label>
                                                          </div>
                                                          {% endfor %}
                                                      </div>

                                              </div>
                                          </div>
                                      </div>
                          </div>
                          <div style="padding-top: 4px;">
                              <hr/>
                          </div>

                          <div id="id_search_results_container">
                          <div id="id_search_results_pagination1">
                          <p class='loading'>Loading...</p>
                          </div>
                          <div style="padding-top: 4px;">
                              <hr/>
                          </div>
                          <div class="row">
                              <div class="col-md-12" id="id_search_results">
                                    <p class='loading'>Loading...</p>
                              </div>
                            </div>
                            <div style="padding-top: 4px;">
                              <hr/>
                            </div>
                            <div id="id_search_results_pagination2">
                            <p class='loading'>Loading...</p>
                            </div>
                            </div>
                      </div>
                  </div>
{#                  <div class="col-md-2">#}
{#                      <div class="row">#}
{#                          <div class="col-md-12 cart_block" style="margin-top: 8px; border-radius: 9px;">#}
{#                              <div class="cart_title">#}
{#                                  Your Cart#}
{#                                  <hr/>#}
{#                              </div>#}
{#                              <div class="cart_content">#}
{#                                  No items found#}
{#                              </div>#}
{#                          </div>#}
{#                      </div>#}
{#                      <div class="row">#}
{#                          <div class="col-md-12 cart_block" style="margin-top: 8px; border-radius: 9px;">#}
{#                              <div class="cart_title">#}
{#                                  Recommended Books#}
{#                                  <hr/>#}
{#                              </div>#}
{#                              <div class="cart_content">#}
{#                                  <a href="#">#}
{#                                  <img style="margin: 9px; width: 130px; height: 186px; " src="https://s3-ap-southeast-1.amazonaws.com/rokomari110/productNew/130X186/880410348_90657.jpg" class="img-responsive book-img-grid">#}
{#                                  </a>#}
{#                              </div>#}
{#                              <div class="cart_content">#}
{#                                  <a href="#">#}
{#                                  <img style="margin: 9px; width: 130px; height: 186px; " src="https://s3-ap-southeast-1.amazonaws.com/rokomari110/productNew/130X186/880410348_90657.jpg" class="img-responsive book-img-grid">#}
{#                                  </a>#}
{#                              </div>#}
{#                              <div class="cart_content">#}
{#                                  <a href="#">#}
{#                                  <img style="margin: 9px; width: 130px; height: 186px; " src="https://s3-ap-southeast-1.amazonaws.com/rokomari110/productNew/130X186/880410348_90657.jpg" class="img-responsive book-img-grid">#}
{#                                  </a>#}
{#                              </div>#}
{#                              <div class="cart_content">#}
{#                                  <a href="#">#}
{#                                  <img style="margin: 9px; width: 130px; height: 186px; " src="https://s3-ap-southeast-1.amazonaws.com/rokomari110/productNew/130X186/880410348_90657.jpg" class="img-responsive book-img-grid">#}
{#                                  </a>#}
{#                              </div>#}
{#                              <div>#}
{#                                  <hr style="margin: 9px 0px 9px 0px;"/>#}
{#                                  <a class="pull-right" href="#">View All</a>#}
{#                              </div>#}
{#                          </div>#}
{#                      </div>#}
{#                  </div>#}
              </div>
          </div>
      </div>
<div id="id_mustache_area" style="display: none;">
{% include "handlebars/search_filter_category.html" %}
{% include "handlebars/search_filter_author.html" %}
{% include "handlebars/search_filter_publisher.html" %}
{% include "handlebars/search_pagination.html" %}
{% include "handlebars/search_results.html" %}
</div>
{% endblock content %}
