{% extends "master.html" %}
{% load staticfiles %}
{% block top_header_menu %}
{% include "sections/header_top_menu.html" %}
{% endblock top_header_menu %}
{% block more_stylesheet %}
<link href="{% static "css/search_page.css" %}" rel="stylesheet" />
{% endblock more_stylesheet %}
{% block content %}
    <br/>
    <div class="container" id="contact1">
          <div class="container">
              <div class="row">
                  <div class="col-md-9" style="padding: 20px;">
                      <div class="row">
                          <div class="col-md-3">
                              <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRi7lIOzjyCNhoVpyaJGRuYklrorcjra8xXCroxeXXZgrhxX-dPZg" style="width: 180px; height: 280px;"/>
                          </div>
                          <div class="col-md-9">
                              <h3 class="title" style="margin-top: 0px;">
                                  {{ object.get_title }}
                              </h3>
                              <div>
                                  Author: {{ object.get_authors|safe }}
                              </div>
                              <hr/>
                              <div class="description small" style="font-size: 13px; letter-spacing: 0.02em;">
                              {{ object.get_description }}
                              </div>
                              <div class="review">
                                  <br/>
                                  <div>
                                  <h4 style="font-weight: bold;">Reviews(4)
                                  <a class="pull-right" href="#">Write a Review</a>
                                  </h4>

                                  </div>
                                  <hr/>
                                  <p style="border: 1px solid #cdeaf3; padding: 20px; border-radius: 10px;">
                                      In recent years, more and more of the web has become populated with AJAX-based applications, replacing static HTML pages.
                                      This is a great development for users because it makes applications much faster and richer
                                  </p>
                                  <p style="border: 1px solid #cdeaf3; padding: 20px; border-radius: 10px;">
                                      In recent years, more and more of the web has become populated with AJAX-based applications, replacing static HTML pages.
                                      This is a great development for users because it makes applications much faster and richer
                                  </p>
                                  <p style="border: 1px solid #cdeaf3; padding: 20px; border-radius: 10px;">
                                      In recent years, more and more of the web has become populated with AJAX-based applications, replacing static HTML pages.
                                      This is a great development for users because it makes applications much faster and richer
                                  </p>
                              </div>
                          </div>
                      </div>

                  </div>
                  <div class="col-md-3" style="padding: 20px;">
                      <div>
                          <p class="small">We are currently buying this book. If you have one please contact me from
                          <a href="#">here</a></p>
                          <button class="btn btn-md btn-danger">Sale your Copy!</button>
                      </div>
                      <div>
                          <p class="small">We are currently buying this book. If you have one please contact me from
                          <a href="#">here</a></p>
                          <button class="btn btn-md btn-danger">Sale your Copy!</button>
                      </div>
                      <div>
                          <p class="small">We are currently buying this book. If you have one please contact me from
                          <a href="#">here</a></p>
                          <button class="btn btn-md btn-danger">Sale your Copy!</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
{% endblock content %}
