{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {% block meta2 %}

    {% endblock meta2 %}
    <title>{{ page_title }}</title>
    {% include "scripts/stylesheet.html" %}
    {% include "scripts/javascripts.html" %}
    {% block more_stylesheet %}

    {% endblock more_stylesheet %}

    {% block more_js %}

    {% endblock more_js %}
</head>
<body>
{% block header %}
    {% include "sections/header.html" %}
{% endblock header %}
<div class="section wrapper">
    <div class="section section-we-are-1" style="min-height: 200px;">
{% block tbanner %}

{% endblock tbanner %}
{% block content %}

{% endblock content %}
    </div>
</div>
<div style="margin-top: 40px !important;">

</div>
<hr/>
{% block footer %}
    {% include "sections/footer.html" %}
{% endblock footer %}
</body>
</html>