{% extends "master.html" %}
{% load staticfiles %}
{% block content %}
    <link href="{% static "css/forgot_password.css" %}" rel="stylesheet" />
    <script src="{% static "js/forgot_password.js" %}"></script>
    <style>

    </style>
    <div class=" " id="contact1">
          <div class="container">
              <div class="">
                  <div class="contact-form" style="margin-top: 40px !important; min-height: 300px;">
                      <div class="row">
                          <div class="col-md-12 right-border">
                              <div class="address add-animation-stopped animation-1">
                                  <h4>Forgot Password Request Complete!</h4>
                                  <br/>
                                  <p class="text-gray">
                                      Congratulations! You have completed the forgot password request process.
                                  </p>
                                  <p>
                                      An email has been sent to {{ email }}. Please check your mailbox and follow the link to reset your password.
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
{% endblock content %}
