{% extends "master.html" %}
{% load staticfiles %}
{% load pagination_tags %}
{% block top_header_menu %}
{% include "sections/header_top_menu.html" %}
{% endblock top_header_menu %}
{% block top_breadcumb %}
{% include "sections/breadcumb.html" %}
{% endblock top_breadcumb %}
{% block top_banner %}
{% endblock top_banner %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="br-h1">Pubishers({{ object_count }})</span>
                <hr class="br-hr-1"/>
                <div class="br-body-container">
                    {% for instance in object_list %}
                    {% include "sections/publisher_browse_card.html" with instance=instance%}
                    {% endfor %}
                </div>
                <div style="height: 20px; width: 100%;"></div>
                <div class="row">
                    <div class="col-md-12">
                        {% if is_paginated %}
                        <ul class="pagination text-center">
                        {% with first_page=page_obj.paginator.page_range|first_page  %}
                        {% if page_obj.has_previous %}
                        <li class="pagination-first"><a href="?page={{ first_page }}">First</a></li>
                        {% endif %}
                        {% endwith %}
                        {% if page_obj.has_previous %}
                          <li class="pagination-prev"><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
                        {% endif %}
                        {% with current_page=page_obj.number %}
                        {% for page_num in page_obj.paginator.page_range|slice_page_range:current_page %}
                          <li {% if page_num == current_page %}class="active"{% endif %}><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                        {% endfor %}
                        {% endwith %}
                        {% if page_obj.has_next %}
                          <li class="pagination-next"><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        {% endif %}
                        {% with last_page=page_obj.paginator.page_range|last_page  %}
                        {% if last_page != page_obj.number %}
                        <li class="pagination-last"><a href="?page={{ last_page }}">Last</a></li
                        {% endif %}
                        {% endwith %}
                        </ul>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}