{% extends "master.html" %}
{% load staticfiles %}

{% block more_stylesheet %}
    <link href="{% static "css/forgot_password.css" %}" rel="stylesheet"/>
{% endblock %}
{% block more_js %}
    <script src="{% static "js/forgot_password.js" %}"></script>
{% endblock %}
{% block content %}
    <div class=" " id="contact1">
        <div class="container">
            <div class="">
                <div class="contact-form" style="margin-top: 40px !important;">
                    <div class="row">
                        <div class="col-md-7 right-border">
                            <div class="address add-animation-stopped animation-1">
                                <h4>It's So Easy!</h4>
                                <p>
                                    Enter the username you use to sign into your Account, which is usually your email
                                    address.
                                </p>
                                <h4>Help Line</h4>
                                <p class="text-gray">0456 / 71 21 39</p>
                                <h4>Email Us</h4>
                                <a href="mailto:hello@creative-tim.com">
                                    <p class="text-gray">support@sstlab.com</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <form action="#" method="post">
                                {% csrf_token %}
                                <h1>Forgot your password?</h1>
                                {{ form }}
                                <span class="error text-danger forgot_password_field_error displaynone"></span>

                                <p class="alert alert-danger fade in alert-dismissable forgot_password_error displaynone"></p>
                                <button id="id_forgot_password_button" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
