{% extends "master.html" %}
{% load staticfiles %}
{% block content %}
    <link href="{% static "css/signup.css" %}" rel="stylesheet" />
    <script src="{% static "js/sign_up.js" %}"></script>
    <style>

    </style>
    <div class=" " id="contact1">
          <div class="container">
              <div class="">
                  <div class="contact-form" style="margin-top: 40px !important;">
                      <div class="row">
                          <div class="col-md-7 right-border">
                              <div class="address add-animation-stopped animation-1">
                                  <h4>It's So Easy!</h4>
                                  <p class="text-gray">
                                      One click signup will help you to access thousands of text books.
                                  </p>
                                  <p>
                                      Once you are done we will send you a link. Please follow that link to activate your account.
                                  </p>
                                  <h4>Help Line</h4>
                                  <p class="text-gray">0456 / 71 21 39</p>
                                  <h4>Email Us</h4>
                                  <a href="#">
                                      <p class="text-gray">support@sstlab.com</p>
                                  </a>
                              </div>
                          </div>
                          <div class="col-md-5">
                              <form id="id_signup_form" class="signup_form" action="#" method="post">
                                    {% csrf_token %}
                                    <h1>Sign Up</h1>
                                      <div class="row">
                                          <div class="col-md-6">
                                              <label for="name">First Name:</label>
                                              {{ signup_form.first_name }}
                                             <span class="error text-danger signup_field_error displaynone"></span>
                                          </div>
                                          <div class="col-md-6">
                                              <label for="name">Last Name:</label>
                                              {{ signup_form.last_name }}
                                            <span class="error text-danger signup_field_error displaynone"></span>
                                          </div>
                                      </div>



                                      <label for="mail">Email:</label>
                                      {{ signup_form.email }}
                                      <span class="error text-danger signup_field_error displaynone"></span>
                                      <div class="row">
                                          <div class="col-md-12">
                                              <label for="mail">Phone:</label>
                                              <div class="input-group phone-input">
                                                <span class="input-group-btn">
                                                    <label class="heading">(+880)</label>
                                                </span>
                                                {{ signup_form.phone }}
                                              </div>
                                              <span class="error text-danger signup_field_error displaynone"></span>
                                          </div>
                                      </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="mail">Password:</label>
                                              {{ signup_form.password }}
                                              <span class="error text-danger signup_field_error displaynone"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="mail">Repeat Password:</label>
                                              {{ signup_form.password2 }}
                                              <span class="error text-danger signup_field_error displaynone"></span>
                                        </div>
                                    </div>

                                    <button id="id_signup_button" type="submit">Sign Up</button>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
{% endblock content %}
