{% extends "admin/create_master.html" %}
{% load staticfiles %}
{% load admin_tags %}
{% block form_content %}
    <style type="text/css">
    .form-container {
        max-width: 100% !important;
    }
    .form-container input[type=checkbox] {
        width: 20px;
    }
    .form-container th {
        min-width: 80px;
    }
    .promo-heading {
        font-size: 17px;
        font-weight:bold;
    }
    </style>



<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" id="id_basic_info_toggle" data-parent="#accordion" href="#collapse1">
        Basic Info</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
          <div class="row">
        <div class="col-md-12">
            <h4 class="promo-heading">Basic Info</h4>
            <hr/>
            <div class="row">
                <div class="col-md-6">
                    <table class="table" style="padding-right: 20px;">
                        <tr>
                            <th>
                                {{ form.title.label }}:
                            </th>
                            <td>
                                {{ form.title }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ form.description.label }}:
                            </th>
                            <td>
                                {{ form.description }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ form.start_date.label }}:
                            </th>
                            <td>
                                {{ form.start_date }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ form.end_date.label }}:
                            </th>
                            <td>
                                {{ form.end_date }}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table" style="padding-right: 20px;">
                        <tr>
                            <th>
                                {{ form.promotion_type.label }}:
                            </th>
                            <td>
                                {{ form.promotion_type }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ form.by_cart_choice.label }}:
                            </th>
                            <td>
                                {{ form.by_cart_choice }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ form.by_amount_choice.label }}:
                            </th>
                            <td>
                                {{ form.by_amount_choice }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Currency:
                            </th>
                            <td>
                                {{ form.currency }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ form.min_qty.label }}:
                            </th>
                            <td>
                                {{ form.min_qty }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ form.min_amount.label }}:
                            </th>
                            <td>
                                {{ form.min_amount }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label style="color: green;">Next Step: Add Promotion Rule</label>
                </div>
            </div>
        </div>
    </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" id="id_promotion_rules_toggle" data-parent="#accordion" href="#collapse2">
        Promotion Rules</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
          <div class="row" id="id_promotion_rules_container">
            <div class="col-md-12">
                <h4 class="promo-heading">Promotion Rules</h4>
                <hr/>
                <div id="id_promo_rules">
                    {{ rule_formset.management_form }}
                    <table class="table">
                    {% for rule_form in rule_formset.forms %}
                    {% if forloop.first %}
                        <thead>
                            <tr>
                            <th>
                                {{ rule_form.rule_product.label }}
                            </th>
                            <th>
                                {{ rule_form.rule_is_new.label }}
                            </th>
                            <th>
                                {{ rule_form.rule_print_type.label }}
                            </th>
                            <th>
                                {{ rule_form.min_qty.label }}
                            </th>
                            <th>
                                {{ rule_form.min_amount.label }}
                            </th>
                        </tr>
                        </thead>
                    {% endif %}
                    <tr data-prefix="{{ rule_form.prefix }}">
                        <td>
                            {{ rule_form.rule_id.as_hidden }}
                            {{ rule_form.rule_product }}
                        </td>
                        <td>
                            {{ rule_form.rule_is_new }}
                        </td>
                        <td>
                            {{ rule_form.rule_print_type }}
                        </td>
                        <td>
                            {{ rule_form.min_qty }}
                        </td>
                        <td>
                            {{ rule_form.min_amount }}
                        </td>
                    </tr>
                    {% endfor %}
                    </table>
                </div>
                <a href="#" id="id_add_promo_rule" class="btn btn-default pull-right"><i class="glyphicon glyphicon-plus"></i> Add Rule</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label style="color: green;">Next Step: Add Promotion Rewards</label>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" id="id_promotion_rewards_toggle" data-parent="#accordion" href="#collapse3">
        Promotion Rewards</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
          <div class="row" id="id_promotion_reward_container">
        <div class="col-md-12">
            <h4 class="promo-heading">Promotion Rewards</h4>
            <hr/>
            <div id="id_promo_rewards">
                {{ reward_formset.management_form }}
                {% for reward_form in reward_formset.forms %}
                <div class="promo-reward-entry">
                    <table class="table" data-prefix="{{ reward_form.prefix }}">
                        <tr>
                            <td>
                                {{ reward_form.reward_type.label }}
                            </td>
                            <td>
                                {{ reward_form.reward_id.as_hidden }}
                                {{ reward_form.reward_type }}
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ reward_form.gift_amount.label }}
                            </td>
                            <td>
                                {{ reward_form.gift_amount }}
                            </td>
                            <td>
                                {{ reward_form.credit_expiry_time.label }}
                            </td>
                            <td>
                                {{ reward_form.credit_expiry_time }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ reward_form.gift_amount_in_percentage.label }}
                            </td>
                            <td>
                                {{ reward_form.gift_amount_in_percentage }}
                            </td>
                            <td>
                                {{ reward_form.store_credit.label }}
                            </td>
                            <td>
                                {{ reward_form.store_credit }}
                            </td>
                        </tr>
                    </table>
                    <table class="table">
                        <tr>
                            <td>
                                Reward Products
                            </td>
                            <td>
                                <div class="promo_reward_product">
                                    <div>
                                        <table class="table reward-table" data-reward-prefix-index="{{ forloop.counter0 }}">
                                        {% with index=forloop.counter0 %}
                                        {% with reward_product_formset=reward_product_formset_dict|get_item_from_dict_by_key:index %}
                                        {{ reward_product_formset.management_form }}
                                        {% for reward_product_form in reward_product_formset.forms %}
                                            {% if forloop.first %}
                                                <thead>
                                                <tr>
                                                    <th>
                                                        {{ reward_product_form.product.label }}
                                                    </th>
                                                    <th>
                                                        {{ reward_product_form.reward_is_new.label }}
                                                    </th>
                                                    <th>
                                                        {{ reward_product_form.reward_print_type.label }}
                                                    </th>
                                                    <th>
                                                        {{ reward_product_form.quantity.label }}
                                                    </th>
                                                    <th>

                                                    </th>
                                                </tr>
                                                </thead>
                                            {% endif %}
                                            <tr data-prefix="{{ reward_product_form.prefix }}">
                                                <td>
                                                    {{ reward_product_form.reward_product_id.as_hidden }}
                                                    {{ reward_product_form.reward_product }}
                                                </td>
                                                <td>
                                                    {{ reward_product_form.reward_is_new }}
                                                </td>
                                                <td>
                                                    {{ reward_product_form.reward_print_type }}
                                                </td>
                                                <td>
                                                    {{ reward_product_form.quantity }}
                                                </td>
                                                <td>

                                                </td>
                                            </tr>
                                        {% endfor %}
                                        {% endwith %}
                                        {% endwith %}
                                        </table>
                                        <table class="table">
                                            <tr>
                                                <td colspan="4">
                                                    <a href="#" style="margin-bottom: 20px;" id="id_add_promo_reward_product"
                                                        class="btn btn-primary pull-right add-promo-reward-product"><i class="glyphicon glyphicon-plus"></i> Add Reward Product</a>
                                                </td>
                                            </tr>
                                        </table>
                                        <hr/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    {% endfor %}
                 </div>
            </div>
            <a href="#" id="id_add_promo_reward" class="btn btn-default pull-right"><i class="glyphicon glyphicon-plus"></i> Add Reward</a>
        </div>
    </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function () {
    $("#id_start_date").datepicker();
    $("#id_end_date").datepicker();
    $("[id$=credit_expiry_time]").datepicker();

    function replace_attribute_promotion($object, postfix, form_index, attr, prefix) {
        var find_attr = "["+ attr +"$="+ postfix + "]";
        var new_attr = prefix + "-"+form_index+ postfix;
        $object.find(find_attr).prop(attr, new_attr);
    }
    
    function reset_promotion_rule_attributes() {
        $("#id_promo_rules").find(".table").last().find("[name$=-rule_id]").val("");
        $("#id_promo_rules").find(".table").last().find("[name$=-rule_product]").val("");
        $("#id_promo_rules").find(".table").last().find("[name$=-min_qty]").val("");
        $("#id_promo_rules").find(".table").last().find("[name$=-min_amount]").val("");
        $("#id_promo_rules").find(".table").last().find("[name$=-rule_is_new]").prop("checked", false);
    }
    
    function add_promotion_rule() {
        var last_product_name = $("#id_promo_rules").find(".table").last().find("[name$=-rule_product]").prop("name");
        var prefix = "rule-form";
        var id_prefix = "id_rule-form";
        var last_index = last_product_name.replace("rule-form-", "").replace("-rule_product", "");
        last_index = parseInt(last_index);
        var total_element = $("#id_promo_rules").find(".table").length;
        if( total_element >= 19) {
            alert("You can only maximum 20 rules");
            return false;
        }
        var new_index = last_index + 1;
        var first_table = $("#id_promo_rules").find(".table").first().find("tbody").html();
        var new_table = "<div class='table-container' style='padding-10px;'><span style='font-weight: bold;'>Promotion Rule</span><span style='cursor: pointer;' class='glyphicon glyphicon-close pull-right remove-promotion-rule'>X</span>";
        new_table += "<table class='table' style='margin-top: 10px;'>" + first_table + "</table>";
        new_table += "</div>";
        $("#id_promo_rules").append(new_table);
        reset_promotion_rule_attributes();
        var object_ref = $("#id_promo_rules").find(".table").last();
        replace_attribute_promotion(object_ref, "-rule_id", new_index, "name", prefix);
        replace_attribute_promotion(object_ref, "-rule_id", new_index, "id", id_prefix);
        replace_attribute_promotion(object_ref, "-rule_product", new_index, "name", prefix);
        replace_attribute_promotion(object_ref, "-rule_product", new_index, "id", id_prefix);
        replace_attribute_promotion(object_ref, "-rule_is_new", new_index, "name", prefix);
        replace_attribute_promotion(object_ref, "-rule_is_new", new_index, "id", id_prefix);
        replace_attribute_promotion(object_ref, "-rule_print_type", new_index, "name", prefix);
        replace_attribute_promotion(object_ref, "-rule_print_type", new_index, "id", id_prefix);
        replace_attribute_promotion(object_ref, "-min_qty", new_index, "name", prefix);
        replace_attribute_promotion(object_ref, "-min_qty", new_index, "id", id_prefix);
        replace_attribute_promotion(object_ref, "-min_amount", new_index, "name", prefix);
        replace_attribute_promotion(object_ref, "-min_amount", new_index, "id", id_prefix);

        object_ref.find("[name$=-rule_id]").val("");

    }
    
    $("#id_add_promo_rule").click(function (e) {
        add_promotion_rule();
        return false;
    });

    $(document).on("click", ".remove-promotion-rule", function (e) {
        $(this).parent().remove();
        return false;
    });


    $(document).on("click", ".add-promo-reward-product", function (e) {

        var first_row = $(this).parent().parent().parent().parent().parent().find(".reward-table").first().find("tbody").find("tr").first().html();
        var last_product_name = $(this).parent().parent().parent().parent().parent().find(".reward-table").first().find("tbody").find("tr").last().find("[name$=reward_product]").prop("name");
        var reward_prefix = "reward-product-form";
        var reward_prefix_index = $(this).parent().parent().parent().parent().parent().find(".reward-table").first().data("reward-prefix-index");
        var last_row_product_name = $(this).parent().parent().parent().parent().parent().find(".reward-table").last().find("tbody").find("tr").last().find("[name$=reward_product]").prop("name");
        var last_form_index = last_row_product_name.replace(reward_prefix+"-"+reward_prefix_index+"-", "").replace("-reward_type", "");
        last_form_index = parseInt(last_form_index);
        var new_index = last_form_index + 1;
        var new_row = "<tr data-reward-prefix-index='"+ reward_prefix_index +"'>" + first_row;
        new_row += "<td><span style='cursor: pointer;' class='glyphicon glyphicon-close pull-right remove-promotion-reward-product'>X</span></td>"
        new_row += "</tr>";
        var name_prefix = reward_prefix + "-" + reward_prefix_index;
        var id_prefix = "id_"+reward_prefix + "-" + reward_prefix_index;
        $(this).parent().parent().parent().parent().parent().find(".reward-table").first().find("tbody").append(new_row);
        var object_ref = $(this).parent().parent().parent().parent().parent().find(".reward-table").first().find("tbody").find("tr").last();

        replace_attribute_promotion(object_ref, "-reward_product_id", new_index, "name", name_prefix);
        replace_attribute_promotion(object_ref, "-reward_product_id", new_index, "id", id_prefix);
        replace_attribute_promotion(object_ref, "-reward_product", new_index, "name", name_prefix);
        replace_attribute_promotion(object_ref, "-reward_product", new_index, "id", id_prefix);
        replace_attribute_promotion(object_ref, "-reward_is_new", new_index, "name", name_prefix);
        replace_attribute_promotion(object_ref, "-reward_is_new", new_index, "id", id_prefix);
        replace_attribute_promotion(object_ref, "-reward_print_type", new_index, "name", name_prefix);
        replace_attribute_promotion(object_ref, "-reward_print_type", new_index, id_prefix);
        replace_attribute_promotion(object_ref, "-quantity", new_index, "name", name_prefix);
        replace_attribute_promotion(object_ref, "-quantity", new_index, "id", id_prefix);
        return false;
    });

    $(document).on("click", ".remove-promotion-reward-product", function (e) {
        $(this).parent().parent().remove();
        return false;
    });

    $("#id_add_promo_reward").click(function (e) {
        var first_reward = $("#id_promo_rewards").find(".promo-reward-entry").first().html();
        var last_reward_reward_name = $("#id_promo_rewards").find(".promo-reward-entry").last().find("[name$=reward_type]").prop("name");
        var reward_form_prefix = "reward-form";
        var last_index = last_reward_reward_name.replace(reward_form_prefix+"-", "").replace("-reward_type", "");
        last_index = parseInt(last_index);
        var new_index = last_index + 1;
        var name_prefix = reward_form_prefix;
        var id_prefix = "id_"+name_prefix;

        var new_row = '<div class="promo-reward-entry"><span class="glyphicon glyphicon-close pull-right remove-promo-reward-entry" style="cursor: pointer; padding-bottom: 10px;">X</span>';
        new_row += first_reward;
        new_row += "</div>";
        $("#id_promo_rewards").append(new_row);
        var object_ref = $("#id_promo_rewards").find(".promo-reward-entry").last();
        replace_attribute_promotion(object_ref, "-reward_id", new_index, "name", name_prefix);
        replace_attribute_promotion(object_ref, "-reward_id", new_index, "id", id_prefix);
        replace_attribute_promotion(object_ref, "-reward_type", new_index, "name", name_prefix);
        replace_attribute_promotion(object_ref, "-reward_type", new_index, "id", id_prefix);
        replace_attribute_promotion(object_ref, "-gift_amount", new_index, "name", name_prefix);
        replace_attribute_promotion(object_ref, "-gift_amount", new_index, "id", id_prefix);
        replace_attribute_promotion(object_ref, "-credit_expiry_time", new_index, "name", name_prefix);
        replace_attribute_promotion(object_ref, "-credit_expiry_time", new_index, "id", id_prefix);
        replace_attribute_promotion(object_ref, "-gift_amount_in_percentage", new_index, "name", name_prefix);
        replace_attribute_promotion(object_ref, "-gift_amount_in_percentage", new_index, "id", id_prefix);
        replace_attribute_promotion(object_ref, "-store_credit", new_index, "name", name_prefix);
        replace_attribute_promotion(object_ref, "-store_credit", new_index, "id", id_prefix);

        object_ref.find("[name$=-reward_id]").val("");

        $("#id_promo_rewards").find(".promo-reward-entry").last().find(".reward-table").data("reward-prefix-index", new_index);

        var reward_prefix = "reward-product-form";
        var name_prefix = reward_prefix + "-" + new_index;
        var id_prefix = "id_" + name_prefix;
        replace_attribute_promotion(object_ref, "-reward_product_id", 0, "name", name_prefix);
        replace_attribute_promotion(object_ref, "-reward_product_id", 0, "id", id_prefix);
        replace_attribute_promotion(object_ref, "-reward_product", 0, "name", name_prefix);
        replace_attribute_promotion(object_ref, "-reward_product", 0, "id", id_prefix);
        replace_attribute_promotion(object_ref, "-reward_is_new", 0, "name", name_prefix);
        replace_attribute_promotion(object_ref, "-reward_is_new", 0, "id", id_prefix);
        replace_attribute_promotion(object_ref, "-reward_print_type", 0, "name", name_prefix);
        replace_attribute_promotion(object_ref, "-reward_print_type", 0, "id", id_prefix);
        replace_attribute_promotion(object_ref, "-quantity", 0, "name", name_prefix);
        replace_attribute_promotion(object_ref, "-quantity", 0, "id", id_prefix);
        $("#id_promo_rewards").find(".promo-reward-entry").last().find(".remove-promotion-reward-product").parent().parent().remove();

        object_ref.find("[name$=-reward_product_id]").val("");

        return false;
    });

    $(document).on("click", ".remove-item", function (e) {
        $(this).parent().parent().remove();
    });
    
    $(document).on("click", ".remove-promo-reward-entry", function (e) {
        $(this).parent().remove();
        return false;
    });

    $("#id_basic_info_toggle").click(function (e) {
        return true;
    });

    $("#id_promotion_rules_toggle").click(function (e) {
        return true;
    });

    $("#id_promotion_rewards_toggle").click(function (e) {
        return true;
    });


    function toggle_promotion_rule_product(value) {
        if(value == "by_cart") {
            $("[id$=rule_product]").prop("disabled", true);
            $("[id$=rule_is_new]").prop("disabled", true);
            $("[id$=rule_print_type]").prop("disabled", true);
            $("[id$=-min_qty]").prop("disabled", true);
            $("[id$=-min_amount]").prop("disabled", true);
        }
        else if(value == "by_products") {
            $("[id$=rule_product]").prop("disabled", false);
            $("[id$=rule_is_new]").prop("disabled", false);
            $("[id$=rule_print_type]").prop("disabled", false);
            var by_amount_choice = $("#id_by_amount_choice").val();
            if(by_amount_choice == "by_amount") {
                $("[id$=-min_qty]").prop("disabled", true);
                $("[id$=-min_amount]").prop("disabled", false);
            }
            else if(value == "by_quantity") {
                $("[id$=-min_qty]").prop("disabled", false);
                $("[id$=-min_amount]").prop("disabled", true);
            }

        }
        else if(value == "by_date") {
            $("[id$=rule_product]").prop("disabled", true);
            $("[id$=rule_is_new]").prop("disabled", true);
            $("[id$=rule_print_type]").prop("disabled", true);
            $("[id$=-min_qty]").prop("disabled", true);
            $("[id$=-min_amount]").prop("disabled", true);
        }
    }
    
    
    $("#id_by_cart_choice").click(function (e) {
        var by_cart_choice = $("#id_by_cart_choice").val();
        toggle_promotion_rule_product(by_cart_choice);
        var by_amount_choice = $("#id_by_amount_choice").val();
        toggle_promotion_min_qty_amount(by_cart_choice, by_amount_choice);
    });

    function toggle_promotion_min_qty_amount(by_cart_choice, by_amount_choice) {
        if(by_cart_choice == "by_cart") {
            if(by_amount_choice == "by_amount") {
                $("#id_min_qty").prop("disabled", true);
                $("#id_min_amount").prop("disabled", false);
            }
            else if(by_amount_choice == "by_quantity"){
                $("#id_min_qty").prop("disabled", false);
                $("#id_min_amount").prop("disabled", true);
            }
        }
        else if(by_cart_choice == "by_products") {
            if(by_amount_choice == "by_amount") {
                $("[id$=-min_qty]").prop("disabled", true);
                $("[id$=-min_amount]").prop("disabled", false);
            }
            else if(by_amount_choice == "by_quantity"){
                $("[id$=-min_qty]").prop("disabled", false);
                $("[id$=-min_amount]").prop("disabled", true);
            }
        }
        else{
            $("#id_min_qty").prop("disabled", true);
            $("#id_min_amount").prop("disabled", true);
        }
    }

    function initial_product_rule_products() {
        var by_cart_choice = $("#id_by_cart_choice").val();
        toggle_promotion_rule_product(by_cart_choice);
        var by_amount_choice = $("#id_by_amount_choice").val();
        toggle_promotion_min_qty_amount(by_cart_choice, by_amount_choice);
    }

    setTimeout(initial_product_rule_products, 1000);

    $("#id_by_amount_choice").click(function (e) {
        var by_cart_choice = $("#id_by_cart_choice").val();
        var by_amount_choice = $("#id_by_amount_choice").val();
        toggle_promotion_min_qty_amount(by_cart_choice, by_amount_choice);
    });

    function initial_product_rule_min_amount() {
        var by_cart_choice = $("#id_by_cart_choice").val();
        var by_amount_choice = $("#id_by_amount_choice").val();
        toggle_promotion_min_qty_amount(by_cart_choice, by_amount_choice);
    }

    setTimeout(initial_product_rule_min_amount, 1000);

    function toggle_promotion_reward_fields($object) {
        $object.closest(".promo-reward-entry").find("[name$=-gift_amount]").prop("disabled", true);
        $object.closest(".promo-reward-entry").find("[name$=-credit_expiry_time]").prop("disabled", true);
        $object.closest(".promo-reward-entry").find("[name$=-gift_amount_in_percentage]").prop("disabled", true);
        $object.closest(".promo-reward-entry").find("[name$=-store_credit]").prop("disabled", true);

        $object.closest(".promo-reward-entry").find("[name$=-reward_product]").prop("disabled", true);
        $object.closest(".promo-reward-entry").find("[name$=-reward_is_new]").prop("disabled", true);
        $object.closest(".promo-reward-entry").find("[name$=-reward_print_type]").prop("disabled", true);
        $object.closest(".promo-reward-entry").find("[name$=-quantity]").prop("disabled", true);

        $object.closest(".promo-reward-entry").find(".add-promo-reward-product").prop("disabled", true);
        $object.closest(".promo-reward-entry").find(".add-promo-reward-product").hide();

        var reward_type = $object.val();
        if(reward_type == "0") {
            $object.closest(".promo-reward-entry").find("[name$=-gift_amount]").prop("disabled", false);
            $object.closest(".promo-reward-entry").find("[name$=-gift_amount_in_percentage]").prop("disabled", false);
        }
        else if(reward_type == "1") {

        }
        else if(reward_type == "2") {
            $object.closest(".promo-reward-entry").find("[name$=-reward_product]").prop("disabled", false);
            $object.closest(".promo-reward-entry").find("[name$=-reward_is_new]").prop("disabled", false);
            $object.closest(".promo-reward-entry").find("[name$=-reward_print_type]").prop("disabled", false);
            $object.closest(".promo-reward-entry").find("[name$=-quantity]").prop("disabled", false);

            $object.closest(".promo-reward-entry").find(".add-promo-reward-product").prop("disabled", false);
            $object.closest(".promo-reward-entry").find(".add-promo-reward-product").show();
        }
        else if(reward_type == "3") {

        }
        else if(reward_type == "4") {
            $object.closest(".promo-reward-entry").find("[name$=-store_credit]").prop("checked", true);
            $object.closest(".promo-reward-entry").find("[name$=-gift_amount]").prop("disabled", false);
            $object.closest(".promo-reward-entry").find("[name$=-credit_expiry_time]").prop("disabled", false);
        }
    }

    function toggle_promotion_all_reward_fields() {
        $("[name$=-reward_type]").each(function (i) {
            toggle_promotion_reward_fields($(this));
        });
    }

    $(document).on("change", "[name$=-reward_type]", function (e) {
        toggle_promotion_reward_fields($(this));
    });
    
    setTimeout(toggle_promotion_all_reward_fields, 500);


});
</script>
{% endblock form_content %}