{% extends "admin/create_master.html" %}
{% load staticfiles %}
{% block form_content %}
    <style type="text/css">
    .form-container {
        max-width: 100% !important;
    }
    .form-container input[type=checkbox] {
        width: 20px;
    }
    .form-container th {
        min-width: 80px;
    }
    .promo-heading {
        font-size: 17px;
        font-weight:bold;
    }
    </style>
    <div class="row">
        <div class="col-md-6">
            <h4 class="promo-heading">Basic Info</h4>
            <hr/>
            <table class="table" style="padding-right: 20px;">
                <tr>
                    <th>
                        Title:
                    </th>
                    <td>
                        {{ form.title }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Description:
                    </th>
                    <td>
                        {{ form.description }}
                    </td>
                </tr>
                <tr>
                    <th>

                    </th>
                    <td>
                        {{ form.by_cart_hidden }}
                        <ul class="list-inline">
                            <li>
                                <label><input type="radio" name="promotion_by_cart" value="by_cart"/> By Cart</label>
                            </li>
                            <li>
                                <label><input type="radio" name="promotion_by_cart" value="by_product"/> By Product</label>
                            </li>
                            <li>
                                <label><input type="radio" name="promotion_by_cart" value="by_date"/> By Date</label>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>

                    </th>
                    <td>
                        {{ form.by_amount_hidden }}
                        <ul class="list-inline">
                            <li>
                                <label><input type="radio" name="promotion_by_cart" value="by_amount"/> By Amount</label>
                            </li>
                            <li>
                                <label><input type="radio" name="promotion_by_cart" value="by_quantity"/> By Quantity</label>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>
                        Currency:
                    </th>
                    <td>
                        {{ form.currency }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Start Date:
                    </th>
                    <td>
                        {{ form.start_date }}
                    </td>
                </tr>
                <tr>
                    <th>
                        End Date:
                    </th>
                    <td>
                        {{ form.end_date }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="promo-heading">Promotion Rules</h4>
                    <hr/>
                    <a href="#" id="id_add_promo_rule" class="btn btn-default pull-right"><i class="glyphicon glyphicon-plus"></i> Add Rule</a>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="promo-heading">Promotion Rewards</h4>
                    <hr/>
                    <a href="#" id="id_add_promo_reward" class="btn btn-default pull-right"><i class="glyphicon glyphicon-plus"></i> Add Reward</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
{#    {{ form.as_table }}#}
    </table>

<script type="text/javascript">
$(document).ready(function () {
    $("#id_start_date").datepicker();
    $("#id_end_date").datepicker();
});
</script>
{% endblock form_content %}